.kanban-application .kanban-wrapper {
  width: 100%;
  position: relative;
}

.kanban-application .kanban-wrapper .kanban-container {
  display: flex;
  width: max-content !important;
  padding-bottom: 1.5rem;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board {
  width: auto !important;
  height: 100%;
  background: transparent;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board:focus {
  outline: 0;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-board-header .kanban-title-board {
  color: #5e5873;
  font-size: 1.1rem;
  padding: 0.5rem;
  font-weight: 500;
  width: 100%;
  max-width: 13rem;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0.428rem;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-board-header .kanban-title-board:hover, .kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-board-header .kanban-title-board:focus {
  background-color: #fff;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-board-header .kanban-title-board:focus {
  outline: 0;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-board-header .dropdown .dropdown-toggle:after {
  display: none;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-drag {
  min-height: 1rem;
  min-width: 18.55rem;
  padding: 0;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-title-button {
  position: absolute;
  left: -8px;
  bottom: 0;
  margin: -1rem 0;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-title-button:focus {
  box-shadow: none;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-item {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 18.55rem;
  padding: 1rem 1.2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  cursor: pointer;
  border-radius: 0.428rem;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1), background 0s, color 0s, border 0s;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-item i,
.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-item svg {
  stroke: #5e5873;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-item .kanban-text {
  font-weight: 500;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-item .item-dropdown {
  display: none;
  position: absolute;
  right: 0rem;
  cursor: pointer;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-item .item-dropdown .dropdown-toggle:after {
  display: none;
}

.kanban-application .kanban-wrapper .kanban-container .kanban-board .kanban-item:hover .item-dropdown {
  display: block;
}

.kanban-application .add-new-board {
  margin-top: 22px;
  float: left;
  padding: 0 15px;
}

.kanban-application .add-new-board label {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
  cursor: pointer;
}

.kanban-application .update-item-sidebar {
  text-align: left;
}

.kanban-application .update-item-sidebar .avatar-add-member {
  background-color: rgba(108, 117, 125, 0.12);
}

.kanban-application .update-item-sidebar .avatar-add-member i,
.kanban-application .update-item-sidebar .avatar-add-member svg {
  stroke: #5e5873;
}

.kanban-application .update-item-sidebar .comment-editor .ql-editor {
  min-height: 5.5rem;
}

.kanban-application .update-item-sidebar .comment-toolbar.ql-toolbar {
  width: 100%;
  text-align: right;
  border-top: 0;
}

.kanban-item.gu-mirror .item-dropdown .dropdown-toggle:after {
  display: none;
}

.kanban-board.gu-mirror {
  height: fit-content !important;
}

.kanban-board.gu-mirror .kanban-board-header {
  display: flex;
  justify-content: space-around;
}

.kanban-board.gu-mirror .kanban-drag {
  padding-right: 20px !important;
}