<template>
  <div>
    <div class="card">
      <div class="card-body">
        <h1 style="font-weight: 900;">{{ detailopenvacancies.position }}</h1>
        <span style="font-size:13px; ">
          {{$t("message.publish_date")}} {{ getFormattedDate (detailopenvacancies.publish_date)  }}<br>
          {{ $t("message.expired_date") }}{{ getFormattedDate (detailopenvacancies.expired_date)}}
        </span>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-7" style="border-right:1px solid #EBEBEB;">
            <p class="age" v-html="detailopenvacancies.description"></p>
            <div>
              <div>
                <button @click="registerReload" v-if="btnaplly == true"
                  style="float: right; margin-top:15px;margin-bottom:15px" type="button"
                  class="btn btn-primary waves-effect waves-float waves-light"> {{ $t("message.apply") }}</button>
              </div>
              <div style="float: left;">
                <a @click="homeReload" type="button" class="btn btn-outline-primary waves-effect"
                  style="margin-top:15px;margin-bottom:15px">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-home me-25">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                  </svg>
                  <span> {{ $t("message.back") }}</span>
                </a>
              </div>
              <div>
              </div>
            </div>
          </div>
          <div class="col-md-5 ">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr class="th-1">
                    <th style="width: 40%;">{{ $t("message.job_level") }}</th>
                    <th style="width: 0px;">:</th>
                    <th> {{ detailopenvacancies.level }}</th>
                  </tr>
                  <tr class="th-1">
                    <th style="width: 40%;">{{ $t("message.job_function") }}</th>
                    <th>:</th>
                    <th>{{ detailopenvacancies.job_function }}</th>
                  </tr>
                  <tr class="th-1">
                    <th style="width: 40%;">{{ $t("message.location") }}</th>
                    <th>:</th>
                    <th>{{ detailopenvacancies.location }}</th>
                  </tr>
                  <tr class="th-1">
                    <th style="width: 40%;">{{ $t("message.job_type") }}</th>
                    <th>:</th>
                    <th>{{ detailopenvacancies.hiring_type }}</th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="text-align: center;">
              <p style="text-align: center; padding-top: 10px; font-weight: bold;">{{ $t("message.share_sosmed") }}
              </p>
              <button type="button" class="btn btn-flat-primary waves-effect">
                <i class="fa-brands fa-square-facebook fa-xl"></i>
                <a :href="socialFB" @click="showFB">{{ $t("message.share") }}</a>
              </button>
              <button type="button" class="btn btn-flat-primary waves-effect">
                <i class="fa-brands fa-linkedin fa-xl"></i>
                <a :href="socialIN" @click="showIN">{{ $t("message.share") }}</a>
              </button>
              <button type="button" class="btn btn-flat-info waves-effect">
                <i class="fa-brands fa-twitter fa-xl"></i>
                <a :href="socialTweet" @click="showTweet">{{ $t("message.share") }}</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import axios from 'axios'
  import moment from 'moment'
  import VueSweetalert2 from 'vue-sweetalert2'
  import router from '../router/index'
  import VueSimpleAlert from 'vue-simple-alert'
  import environtment from '../environtment/index'

  Vue.use(VueSimpleAlert)
  Vue.use(VueSweetalert2)
  Vue.use(axios)
  export default {
    name: 'detailVacancies',
    data() {
      return {
        detailopenvacancies: {},
        detailVacancies: [{}],
        socialFB: 'https://www.facebook.com/otsuka.id',
        socialTweet: 'https://www.twitter.com/otsuka_id',
        socialIN: 'https://www.linkedin.com/company/678286',
        login: null,
        btnaplly: true,
        langs: ['English', 'Indonesia']
      }
    },
    mounted() {
      this.loaddetailvacanciase()
      this.loaddetailvacanciase2()
      this.loadData()
      this.checlist()
    },
    methods: {
      getFormattedDate(date) {
        return moment(date).format('DD MMMM YYYY')
      },

      loaddetailvacanciase() {
        axios
          .get(environtment.apiUrl + '/api/openvacancies/detailopenvacancies/' + this.$route.params.id)
          .then(response => (this.detailopenvacancies = response.data.data))
      },
      loaddetailvacanciase2() {
        axios
          .get(environtment.apiUrl + '/api/openvacancies/detailopenvacancies/' + this.$route.params.id)
          .then(response => (this.detailVacancies = response.data.data))
      },
      loadData() {
        this.login = JSON.parse(window.sessionStorage.getItem('kandidatLogin'))
      },
      registerReload() {
        if (this.login == null) {
          this.$router.push({
            path: '/login'
          }).then(this.$router.go())
        } else {
          if (this.btnaplly === true) {
            axios
              .post(environtment.apiUrl + '/api/candidatelist/candidatelist', {
                requisition_id: this.$route.params.id,
                candidate_id: this.login.id,
                status_candidate: 1,
                is_fail: 1
              }).then(response => {
                console.log(response)
              })
            this.$fire({
              title: 'success',
              text: 'Apply Success',
              type: 'success'
            }).then(r => {
              router.push({
                path: '/applylist/' + this.login.id
              }).then(router.go())
            })
          } else {
            this.btnaplly = false
            this.$fire({
              title: 'Failed',
              text: 'You have been applied before',
              type: 'error'
            }).then(r => {
              router.push({
                path: '/detailvacancies/' + this.$route.params.id
              }).then(router.go())
            })
          }
        }
      },
      homeReload() {
        this.$router.push({
          path: '/'
        }).then(this.$router.go())
      },
      checlist() {
        axios
          .post(environtment.apiUrl + `/api/candidatelist/checkapply`, {
            requisition_id: this.$route.params.id,
            candidate_id: this.login.id
          })
          .then(response => {
            console.log(response)
            if (response.data.data[0].requisition_id && response.data.data[0].candidate_id) {
              this.btnaplly = false
            } else {
              this.btnaplly = true
            }
          })
      }

    }
  }
</script>
