<template>
    <div>
        <div class="content-body">
            <div id="user-profile">
                <div class="row">
                    <div class="col-12">
                        <div class="card profile-header mb-2" style="margin-top: -25px;">
                            <!-- profile cover photo -->
                            <img class="card-img-top" src="https://myapps.aio.co.id/assets/cross/images/profile/user-uploads/timeline.jpg" alt="User Profile Image">
                            <!--/ profile cover photo -->

                            <div class="position-relative">
                                <!-- profile picture -->
                                <div class="profile-img-container d-flex align-items-center">
                                    <div class="profile-img">
                                        <img :src="imageLoader()" class="rounded img-fluid" alt="Card image">
                                    </div>
                                    <!-- profile title -->
                                    <div class="profile-title ms-3">
                                        <h2 class="text-white">{{login.full_name}}</h2>
                                        <!-- <p class="text-white">UI/UX Designer</p> -->
                                    </div>
                                </div>
                            </div>

                            <!-- tabs pill -->
                            <div class="profile-header-nav">
                                <!-- navbar -->
                                <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                                    <button class="btn btn-icon navbar-toggler waves-effect waves-float waves-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify font-medium-5">
                                            <line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>
                                    </button>

                                    <!-- collapse  -->
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                                            <ul class="nav nav-pills mb-0">
                                                <li class="nav-item">
                                                    <router-link :to="{path: '/experiencescandidate/'+ login.id}" class="btn btn-flat-primary waves-effect">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard d-none d-md-inline ficon">
                                                            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                                                        </path>
                                                        <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                                                        </svg> <span class="d-none d-md-inline"> Experiences</span>
                                                        <svg data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Experiences" aria-label="Experiences" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard d-md-none ficon">
                                                            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                                                        </path>
                                                        <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                                                        </svg>
                                                    </router-link>
                                                </li>
                                                <li class="nav-item">
                                                    <router-link :to="{path: '/skillscandidate/'+ login.id}"  class="btn btn-flat-primary waves-effect"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open d-none d-md-inline"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg><span class="d-none d-md-inline"> Skills</span>
                                                        <svg data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Skills" aria-label="Skills" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open d-md-none"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                                                    </router-link>
                                                </li>
                                                <li class="nav-item">
                                                    <router-link :to="{path: '/applylist/'+ login.id}" class="btn btn-flat-primary waves-effect">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase d-none d-md-inline">
                                                            <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                                                        </svg>
                                                        <span class="d-none d-md-inline"> Apply List</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase d-md-none">
                                                            <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                                                        </svg>
                                                    </router-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--/ collapse  -->
                                </nav>
                                <!--/ navbar -->
                            </div>
                        </div>
                    </div>
                </div>
                <section id="profile-info">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-3 col-12 order-1 order-lg-1">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 style="text-align: center;">Dokumen Kelengkapan</h3>
                                        <hr>
                                        <div class="list-group">
                                            <router-link :to="{path: '/upload_cv/'+ login.id}" class="list-group-item list-group-item-action">Curriculum Vitae (CV)</router-link>
                                            <!-- <router-link :to="{path: '/upload_cv/'+ login.id}" class="list-group-item list-group-item-action text-success">Curriculum Vitae (CV) &#10004</router-link> -->
                                            <router-link :to="{path: '/upload_ktp/'+ login.id}" class="list-group-item list-group-item-action">Kartu Tanda Penduduk (KTP)</router-link>
                                            <!-- <router-link :to="{path: '/upload_ktp/'+ login.id}" class="list-group-item list-group-item-action text-success">Kartu Tanda Penduduk (KTP) &#10004</router-link> -->
                                            <router-link :to="{path: '/upload_kk/'+ login.id}" class="list-group-item list-group-item-action">Kartu Keluarga (KK) </router-link>
                                            <!-- <router-link :to="{path: '/upload_kk/'+ login.id}" class="list-group-item list-group-item-action text-success">Kartu Keluarga (KK) &#10004</router-link> -->
                                            <router-link :to="{path: '/upload_npwp/'+ login.id}" class="list-group-item list-group-item-action">Nomor Pokok Wajib Pajak (NPWP)</router-link>
                                            <!-- <router-link :to="{path: '/upload_npwp/'+ login.id}" class="list-group-item list-group-item-action text-success">Nomor Pokok Wajib Pajak (NPWP) &#10004</router-link> -->
                                            <router-link :to="{path: '/upload_rekening/'+ login.id}" class="list-group-item list-group-item-action">Rekening Bank</router-link>
                                            <!-- <router-link :to="{path: '/upload_rekening/'+ login.id}" class="list-group-item list-group-item-action text-success">Rekening Bank &#10004</router-link> -->
                                            <router-link :to="{path: '/upload_bpjs_kerja/'+ login.id}" class="list-group-item list-group-item-action">BPJS Ketenagakerjaan</router-link>
                                            <!-- <router-link :to="{path: '/upload_bpjs_kerja/'+ login.id}" class="list-group-item list-group-item-action text-success">BPJS Ketenagakerjaan &#10004</router-link> -->
                                            <router-link :to="{path: '/upload_bpjs_sehat/'+ login.id}" class="list-group-item list-group-item-action active">BPJS Kesehatan</router-link>
                                            <!-- <router-link :to="{path: '/upload_bpjs_sehat/'+ login.id}" class="list-group-item list-group-item-action text-success active">BPJS Kesehatan &#10004</router-link> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-9 col-12 order-2 order-lg-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="" enctype="multipart/form-data">
                                            <h1 align="center">Upload Curriculum Vitae</h1>
                                            <center><hr style="border: solid grey 2px; border-radius:50%; max-width:400px;" class="mb-2"></center>
                                            <center>
                                                <div
                                            @dragenter.prevent="toggleActive()"
                                            @dragleave.prevent="toggleDisable()"
                                            @dragover.prevent="toggleActive()"
                                            @drop.prevent="dropPreview"
                                            :class="active"
                                            class="dropzone mt-1">
                                                <span>Drop Files Here</span>
                                                <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>    </span>
                                                <span>OR</span>
                                                <label for="dropzoneFile">Select File</label>
                                                <input type="file" id="dropzoneFile" v-on:change="updatePreview">
                                            </div>
                                            <span class="file-info">File Name : {{dropzoneFile}}</span>
                                            <br>
                                            <p v-if="isFile == true" style="color: green;">File type is valid</p>
                                            <span v-if="isFile == false" style="color: red;">File type isn't valid</span>
                                            <span v-if="isFile == null" style="color: red;"></span>
                                            <div>
                                                <br>
                                                <button @click.prevent="postData" class="btn btn-primary">Submit</button>
                                            </div>
                                      </center>
                                        </form>
                                        </div>
                                        <h4 style="text-align: center;">Preview File</h4>
                                        <hr>
                                        <center>
                                            <div v-if="file_bpjs_sehat != null" >
                                                <iframe :src="pdfUrl" width="80%" height="1000px" ></iframe>
                                              </div>
                                              <div v-else>
                                                <p style="color: #BDCDD6">File not available</p>
                                              </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
import environtment from '../environtment/index'
import Vue from 'vue'
import axios from 'axios'
import VueSimpleAlert from 'vue-simple-alert'
import router from '../router/index'

Vue.use(VueSimpleAlert)

Vue.use(axios)
export default {
  name: 'uploadCV',
  data () {
    return {
      login: [{}],
      active: '',
      dropzoneFile: undefined,
      fileBPJSSehat: undefined,
      showPdf: true,
      file_bpjs_sehat: null,
      isFile: null
    }
  },
  mounted () {
    this.loadData()
  },
  methods: {
    postData () {
      const formData = new FormData()
      formData.append('fileBPJSSehat', this.fileBPJSSehat)
      if (this.fileBPJSSehat === undefined) {
        this.$fire({
          title: 'Failed!',
          text: 'Please upload your file',
          type: 'error'
        })
      } else if (this.isFile === false) {
        this.$fire({
          title: 'Failed!',
          text: 'Your file must type pdf, png or jpg',
          type: 'error'
        })
      } else {
        axios.put(environtment.apiUrl + '/api/upload_file/upload_bpjs_sehat/' + this.$route.params.id, formData).then(response => {
          console.log(response)
          sessionStorage.setItem('file_bpjs_sehat', JSON.stringify(response.data.data[0].file_bpjs_sehat))
          this.$fire({
            title: 'Congratulation!',
            text: 'Your file has been uploaded',
            type: 'success'
          }).then(r => {
            router.push({ path: '/upload_bpjs_sehat/' + this.login.id }).then(router.go())
          })
        })
      }
    },
    loadData () {
      this.login = JSON.parse(window.sessionStorage.getItem('kandidatLogin'))
      this.file_bpjs_sehat = JSON.parse(window.sessionStorage.getItem('file_bpjs_sehat'))
    },
    imageLoader () {
      var img = environtment.imgUrl + this.login.pict
      return img
    },
    toggleActive () {
      this.active = 'active-dropzone'
    },
    toggleDisable () {
      this.active = ''
    },
    updatePreview (e) {
      this.active = ''
      // eslint-disable-next-line one-var
      var reader, files = e.target.files
      console.log(e.target.files.item(0))
      this.dropzoneFile = e.target.files.item(0).name
      this.fileBPJSSehat = e.target.files.item(0)
      if (files.length === 0) {
        console.log('empty')
      }
      reader = new FileReader()

      //   reader.onload = (e) => {
      //     this.fileBPJSSehat = e.target.result
      //   }
      reader.readAsDataURL(files[0])

      let checkFile = this.dropzoneFile.substring(this.dropzoneFile.length - 3)
      console.log(checkFile)
      if (checkFile === 'pdf' || checkFile === 'png' || checkFile === 'jpg') {
        this.isFile = true
      } else {
        this.isFile = false
      }
    },
    dropPreview (e) {
      this.active = ''
      // eslint-disable-next-line one-var
      var reader, files = e.dataTransfer.files
      console.log(e.dataTransfer.files.item(0))
      this.dropzoneFile = e.dataTransfer.files.item(0).name
      this.fileBPJSSehat = e.dataTransfer.files.item(0)
      if (files.length === 0) {
        console.log('empty')
      }
      reader = new FileReader()

      //   reader.onload = (e) => {
      //     this.fileBPJSSehat = e.dataTransfer.result
      //   }
      reader.readAsDataURL(files[0])
      let checkFile = this.dropzoneFile.substring(this.dropzoneFile.length - 3)
      console.log(checkFile)
      if (checkFile === 'pdf' || checkFile === 'png' || checkFile === 'jpg') {
        this.isFile = true
      } else {
        this.isFile = false
      }
    }
  },
  computed: {
    calculateAge: function () {
      let currentDate = new Date()
      let birthDate = new Date(this.login.birth_date)
      let difference = currentDate - birthDate
      let age = Math.floor(difference / 31557600000)
      return age
    },
    pdfUrl () {
      return environtment.fileUrl + this.file_bpjs_sehat
    }
  }
}
</script>

<style scoped>
    .dropzone {
        max-width: 500px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px dashed #537FE7;
        background-color: white;
        transition: 0.3s ease all;
    }

    .dropzone label{
        padding: 5px 12px;
        color: white;
        background-color: #537FE7;
        transition: 0.3s ease all;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #537FE7;
    }

    .dropzone label:hover{
        background-color: white;
        color: #537FE7;
    }

    .dropzone input{
        display: none;
    }

    .active-dropzone{
        color: white;
        border-color: white;
        background-color: #537FE7;
    }

    .active-dropzone label{
        background-color: white;
        color: #537FE7;

    }
</style>
