<template>
  <div>
    <div class="content-body">
      <div id="user-profile">
        <!-- profile header -->
        <div class="row">
          <div class="col-12">
            <div class="card profile-header mb-2" style="margin-top: -25px;">
              <!-- profile cover photo -->
              <img class="card-img-top"
                src="https://myapps.aio.co.id/assets/cross/images/profile/user-uploads/timeline.jpg"
                alt="User Profile Image">
              <!--/ profile cover photo -->

              <div class="position-relative">
                <!-- profile picture -->
                <div class="profile-img-container d-flex align-items-center">
                  <div class="profile-img">
                    <img :src="imageLoader()" class="rounded img-fluid" alt="Card image">
                  </div>
                  <!-- profile title -->
                  <div class="profile-title ms-3">
                    <h2 class="text-white">{{ login.full_name }}</h2>
                    <!-- <p class="text-white">UI/UX Designer</p> -->
                  </div>
                </div>
              </div>

              <!-- tabs pill -->
              <div class="profile-header-nav">
                <!-- navbar -->
                <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                  <button class="btn btn-icon navbar-toggler waves-effect waves-float waves-light" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-align-justify font-medium-5">
                      <line x1="21" y1="10" x2="3" y2="10"></line>
                      <line x1="21" y1="6" x2="3" y2="6"></line>
                      <line x1="21" y1="14" x2="3" y2="14"></line>
                      <line x1="21" y1="18" x2="3" y2="18"></line>
                    </svg>
                  </button>

                  <!-- collapse  -->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                      <ul class="nav nav-pills mb-0">
                        <li class="nav-item">
                          <router-link :to="{ path: '/experiencescandidate/' + login.id }"
                            class="btn btn-flat-primary waves-effect">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-clipboard d-none d-md-inline ficon">
                              <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                              </path>
                              <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                            </svg> <span class="d-none d-md-inline"> {{ $t("message.experiences")
                            }}</span>
                            <svg data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                              data-bs-original-title="Experiences" aria-label="Experiences"
                              xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-clipboard d-md-none ficon">
                              <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                              </path>
                              <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                            </svg>
                          </router-link>
                        </li>
                        <li class="nav-item">
                          <router-link :to="{ path: '/skillscandidate/' + login.id }"
                            class="btn btn-flat-primary waves-effect"><svg xmlns="http://www.w3.org/2000/svg" width="15"
                              height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-book-open d-none d-md-inline">
                              <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                              <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                            </svg><span class="d-none d-md-inline"> {{ $t("message.skill")
                            }}</span>
                            <svg data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                              data-bs-original-title="Skills" aria-label="Skills" xmlns="http://www.w3.org/2000/svg"
                              width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-book-open d-md-none">
                              <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                              <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                            </svg>
                          </router-link>
                        </li>
                        <li class="nav-item">
                          <router-link :to="{ path: '/applylist/' + login.id }"
                            class="btn btn-flat-primary waves-effect">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-briefcase d-none d-md-inline">
                              <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                              <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                            </svg>
                            <span class="d-none d-md-inline"> {{ $t("message.apply_list")
                            }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-briefcase d-md-none">
                              <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                              <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                            </svg>
                          </router-link>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!--/ collapse  -->
                </nav>
                <!--/ navbar -->
              </div>
            </div>
          </div>
        </div>
        <!--/ profile header -->

        <!-- profile info section -->
        <section id="profile-info">
          <div class="row">
            <!-- left profile info section -->
            <div class="col-lg-3 col-12 order-2 order-lg-1">
                  <div class="card">
                    <div class="card-body">
                      <div class="user-avatar-section">
                        <div class="d-flex align-items-center flex-column">
                          <img class="img-fluid rounded mt-3 mb-2" :src="imageLoader()" height="110"
                            width="110" alt="User avatar">
                          <div class="user-info text-center">
                            <h5>{{ login.full_name }}
                                <p>{{ calculateAge }} {{ $t("message.years") }} <br>
                                    {{ login.city }}</p>
                            </h5>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center pt-2">
                        <router-link :to="{ path: '/experiencescandidate/' + login.id }" class="btn btn-outline-primary waves-effect">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
                              <span>{{ $t("message.back") }}</span>
                        </router-link>
                      </div>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
            <!--/ left profile info section -->

            <!-- center profile info section -->
            <div class="col-lg-9 col-12 order-2 order-lg-2">
              <div class="card">
                <div class="card-body">
                   <h2 align="center">{{ $t("message.edit_skill") }}</h2>
                    <hr>
                  <div>
                      <div class="d-flex p- border">
                        <div class="card-body">
                          <div class="row">

                            <div class="mb-1 col-md-6">
                              <label class="form-label" for="">{{ $t("message.skill") }}</label>
                              <input type="text" id="" class="form-control"  v-model="detail_skill[0].skill">
                            </div>
                            <div class="col-md-6">
                              <div class="mb-1">
                                <label class="form-label" for="skill_rate">{{ $t("message.skill_rate") }}</label>
                                <select class="form-select slc" id="skill_raete" v-model="detail_skill[0].skill_rate">
                                  <option selected>Skill Rate</option>
                                    <option v-for="(dataBusinesLine, idx) in skillLevel_data" :key="idx"
                                      :value="dataBusinesLine.nilai">
                                      {{ dataBusinesLine.nilai }}
                                    </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <center>
                            <div style="margin-top: 10px;">
                              <button type="button"
                                @click="savedata()" class="btn btn-primary waves-effect waves-float waves-light" style="float: right;">
                                <span>{{ $t("message.submit") }}</span>
                              </button>
                            </div>
                          </center>
                        </div>
                      </div>

                  </div>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ center profile info section -->
          </div>
        </section>
        <!--/ profile info section -->
      </div>

    </div>
  </div>
</template>

<script>
import environtment from '../environtment/index'
import Vue from 'vue'
import axios from 'axios'
import router from '../router/index'
import VueSimpleAlert from 'vue-simple-alert'

Vue.use(VueSimpleAlert)
Vue.use(axios)
export default {
  name: 'edit-skill',
  data () {
    return {
      login: [{}],
      detail_skill: [{}],
      skillLevel_data: [{
        id: 1,
        nilai: 'Novice'
      },
      {
        id: 2,
        nilai: 'Beginner'
      },
      {
        id: 3,
        nilai: 'Advanced'
      },
      {
        id: 4,
        nilai: 'Proficient'
      },
      {
        id: 5,
        nilai: 'Expert'
      }]
    }
  },
  mounted () {
    this.loadData()
    this.loadskill()
  },
  methods: {
    loadData () {
      this.login = JSON.parse(window.sessionStorage.getItem('kandidatLogin'))
    },
    imageLoader () {
      var img = environtment.imgUrl + this.login.pict
      return img
    },
    loadskill () {
      axios
        .post(environtment.apiUrl + '/api/candidate/edit_skill/' + this.$route.params.id, {
          'id_candidate': this.login.id
        })
        .then(response => (this.detail_skill = response.data.data))
      console.log()
    },
    savedata () {
      axios.put(environtment.apiUrl + '/api/candidate/update_skills/' + this.$route.params.id, {
        id_candidate: this.login.id,
        skill: this.detail_skill[0].skill,
        skill_rate: this.detail_skill[0].skill_rate
      })
        .then(Response => {
          this.$fire({
            title: 'Updated!!',
            text: 'Experience has been updated',
            type: 'success'
          }).then(r => {
            router.push({
              path: '/skillscandidate/' + this.login.id
            }).then(router.go())
          })
        })
    }
  },
  computed: {
    calculateAge: function () {
      let currentDate = new Date()
      let birthDate = new Date(this.login.birth_date)
      let difference = currentDate - birthDate
      let age = Math.floor(difference / 31557600000)
      return age
    }
  }
}

</script>
