<template>
    <div>
        <div class="content-body">
            <div id="user-profile">
                <!-- profile header -->
                <div class="row">
                    <div class="col-12">
                        <div class="card profile-header mb-2" style="margin-top: -25px;">
                            <!-- profile cover photo -->
                            <img class="card-img-top" src="https://myapps.aio.co.id/assets/cross/images/profile/user-uploads/timeline.jpg" alt="User Profile Image">
                            <!--/ profile cover photo -->

                            <div class="position-relative">
                                <!-- profile picture -->
                                <div class="profile-img-container d-flex align-items-center">
                                    <div class="profile-img">
                                        <img :src="imageLoader()" class="rounded img-fluid" alt="Card image">
                                    </div>
                                    <!-- profile title -->
                                    <div class="profile-title ms-3">
                                        <h2 class="text-white">{{login.full_name}}</h2>
                                        <!-- <p class="text-white">UI/UX Designer</p> -->
                                    </div>
                                </div>
                            </div>

                            <!-- tabs pill -->
                            <div class="profile-header-nav">
                                <!-- navbar -->
                                <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                                    <button class="btn btn-icon navbar-toggler waves-effect waves-float waves-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify font-medium-5">
                                            <line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>
                                    </button>

                                    <!-- collapse  -->
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                                            <ul class="nav nav-pills mb-0">
                                                <li class="nav-item">
                                                    <router-link :to="{path: '/experiencescandidate/'+ login.id}" class="btn btn-flat-primary waves-effect">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard d-none d-md-inline ficon">
                                                            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                                                        </path>
                                                        <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                                                        </svg> <span class="d-none d-md-inline"> {{$t("message.experiences") }}</span>
                                                        <svg data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Experiences" aria-label="Experiences" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard d-md-none ficon">
                                                            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                                                        </path>
                                                        <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                                                        </svg>
                                                    </router-link>
                                                </li>
                                                <li class="nav-item">
                                                    <router-link :to="{path: '/skillscandidate/'+ login.id}"  class="btn btn-flat-primary waves-effect"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open d-none d-md-inline"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg><span class="d-none d-md-inline"> {{ $t("message.skill") }}</span>
                                                        <svg data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Skills" aria-label="Skills" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open d-md-none"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                                                    </router-link>
                                                </li>
                                                <li class="nav-item">
                                                    <router-link :to="{path: '/applylist/'+ login.id}" class="btn btn-flat-primary waves-effect">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase d-none d-md-inline">
                                                            <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                                                        </svg>
                                                        <span class="d-none d-md-inline"> {{ $t("message.apply_list") }}</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase d-md-none">
                                                            <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                                                        </svg>
                                                    </router-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--/ collapse  -->
                                </nav>
                                <!--/ navbar -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ profile header -->

                <!-- profile info section -->
                <section id="profile-info">
                    <div class="row">
                        <!-- left profile info section -->
                        <div class="col-lg-3 col-12 order-1 order-lg-1">
                            <div class="card">
                              <div class="card-body">
                                <div class="list-group">
                                  <router-link :to="{ path: '/editprofile/'+ login.id}"
                                    class="list-group-item list-group-item-action active">
                                    <span>{{ $t("message.personal1") }}</span>
                                  </router-link>
                                  <router-link :to="{ path: '/experienceadd/'+ login.id}"
                                    class="list-group-item list-group-item-action ">
                                    <span style="font-size: 15x;">{{ $t("message.experience_job") }}</span>
                                  </router-link>
                                  <router-link :to="{ path: '/skilladd/'+ login.id}" class="list-group-item list-group-item-action ">
                                    <span style="font-size: 15x;">{{ $t("message.skill") }}</span>
                                  </router-link>
                                </div><br>
                               <center>
                                <a @click="homeReload" class="btn btn-outline-primary waves-effect router-link-active"
                                    type="button"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                      fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                      class="feather feather-home me-25">
                                      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                      <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                    </svg> <span>{{ $t("message.home") }}</span></a>

                               </center>
                                    
                             
                              </div>
                            </div>
                          </div>
                        <!--/ left profile info section -->

                        <!-- center profile info section -->
                        <div class="col-lg-9 col-12 order-2 order-lg-2">
                            <div class="card">
                              <div class="card-body">
                                <h2 align="center">{{ $t("message.personal1") }}</h2>
                                <hr>
                                <a class="btn me-1 waves-effect waves-float waves-light" data-bs-toggle="collapse"
                                  href="#collapseExample1" role="" aria-expanded="true" aria-controls="collapseExample1">
                                  <button type="button" class="btn "
                                    style="background-color: white;border: none;padding: 12px 16px;font-size: 16px;cursor: pointer;">
                                    {{ $t("message.personal1") }} <i class="fa-sharp fa-solid fa-arrow-down"></i></button>
                                </a>
                                <div class="collapse show" id="collapseExample1" style="">
                                  <div class="d-flex p-1 border" style="margin-left: 20px;">
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="mb-1 col-md-6">
                                          <label class="form-label" for="">{{ $t("message.full_name1") }}</label>
                                          <input type="text" id="" class="form-control" v-model="login.full_name">
                                        </div>
                                        <div class="mb-1 col-md-6">
                                          <label class="form-label" for="">{{ $t("message.telpon") }}</label>
                                          <input type="text" id="" class="form-control" aria-label="" v-model="login.phone_number">
                                        </div>
                                        <div class="mb-1 col-md-6">
                                          <label class="form-label" for="">{{ $t("message.email") }}</label>
                                          <input type="email" id="" class="form-control" v-model="login.email">
                                        </div>
                                        <div class="mb-1 col-md-6">
                                          <label class="form-label" for="">{{ $t("message.ktp") }}</label>
                                          <input type="number" id="" class="form-control" v-model="login.no_ktp">
                                        </div>
                                        <div class="mb-1 col-md-6">
                                          <label class="form-label" for="">{{ $t("message.date") }}</label>
                                          <input type="date" id="" class="form-control" v-model="login.birth_date">
                                        </div>
                                        <div class="col-6">
                                          <div class="mb-1">
                                            <label class="form-label">{{ $t("message.gender") }}</label>
                                            <div class="form-check my-50">
                                              <input type="radio" id="validationRadio3" name="validationRadioBootstrap"
                                                class="form-check-input" required="" v-model="login.gender" value="Male">
                                              <label class="form-check-label" for="validationRadio3">{{ $t("message.male") }}</label>
                                            </div>
                                            <div class="form-check">
                                              <input type="radio" id="validationRadio4" name="validationRadioBootstrap"
                                                class="form-check-input" required="" v-model="login.gender" value="Female">
                                              <label class="form-check-label" for="validationRadio4">{{ $t("message.female") }}</label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="mb-1">
                                            <label class="form-label" for="marital_status">{{ $t("message.status") }}</label>
                                            <select class="form-select slc" id="marital_status" v-model="login.marital_status">
                                              <option selected>Marital Status</option>
                                              <option v-for="(dataMarital, idx) in marital_data" :key="idx"
                                                :value="dataMarital.nilai">
                                                {{ dataMarital.nilai }}
                                              </option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="mb-1">
                                            <label class="form-label" for="religion">{{ $t("message.religion") }}</label>
                                            <select class="form-select slc" id="religion" v-model="login.religion">
                                              <option selected>Religion</option>
                                              <option v-for="(dataAgama, idx) in religion_data" :key="idx" :value="dataAgama.nilai">
                                                {{ dataAgama.nilai }}
                                              </option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-12">
                                          <div class="mb-1">
                                            <label class="form-label" for="ethnic">{{ $t("message.ethnic") }}</label>
                                            <select class="form-select slc" id="ethnic" v-model="login.ethnic">
                                              <option selected>Select Ethnic</option>
                                              <option v-for="(dataEthnic, idx) in ethnic_data" :key="idx" :value="dataEthnic.nilai">
                                                {{ dataEthnic.nilai }}
                                              </option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="mb-1 col-12">
                                          <label class="form-label" for="bio_candidate">Bio</label>
                                          <textarea class="form-control" id="bio_candidate" rows="3"
                                              placeholder="Enter your bio" v-model="login.bio"></textarea>
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                  <a class="btn me-1 waves-effect waves-float waves-light" data-bs-toggle="collapse"
                                    href="#collapseExample" role="" aria-expanded="true" aria-controls="collapseExample">
                                    <button type="button" class="btn "
                                      style="background-color: white;border: none;padding: 12px 16px;font-size: 16px;cursor: pointer;">
                                     {{ $t("message.education1") }} <i class="fa-sharp fa-solid fa-arrow-down"></i></button>
                                  </a>
                                  <div class="collapse show" id="collapseExample" style="">
                                    <div class="d-flex p-1 border" style="margin-left: 20px;">
                                      <div class="card-body">
                                        <div class="row">
                                          <div class="col-12">
                                            <div class="mb-1">
                                              <label class="form-label" for="latest_education">Latest
                                                Education</label>
                                              <select  @click="loadEducation" class="form-select slc" id="latest_education" v-model="login.education">
                                                <option v-for="(dataEducation, idx) in education_data" :key="idx"
                                                  :value="dataEducation.id">
                                                  {{ dataEducation.description }}
                                                </option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="mb-1 col-md-6">
                                            <label class="form-label" for="">{{ $t("message.institution") }}</label>
                                            <input type="text" id="" class="form-control" v-model="login.institution">
                                          </div>
                                          <div class="mb-1 col-md-6">
                                            <label class="form-label" for="">{{ $t("message.major") }}</label>
                                            <input type="text" id="" class="form-control" v-model="login.major">
                                          </div>
                                          <div class="col-md-6">
                                            <label class="form-label" for="">GPA</label>
                                            <div class="input-group mb-1">
                                              <input type="text" class="form-control" :placeholder="$t('message.gpa')" aria-label="Recipient's username"
                                                aria-describedby="basic-addon2" v-model="login.score">
                                              <span class="input-group-text" id="basic-addon2">{{ $t("message.example") }}</span>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <label class="form-label" for="">Year of Graduate</label>
                                            <div class="mb-1">
                                              <input type="text" id="graduate" class="form-control" name="graduate" placeholder="Year of graduate"
                                                v-model="login.year_graduate">
                                            </div>
                                          </div>
                                        </div>
                                        <center>
                                          <div style="margin-top: 10px;">
                                            <button type="button" @click="saveData"
                                              class="btn btn-primary waves-effect waves-float waves-light">
                                              <span>Submit</span>
                                            </button>
                                          </div>
                                        </center>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <!--/ center profile info section -->
                            </div>
                </section>
                <!--/ profile info section -->
            </div>

        </div>
    </div>
</template>

<script>
import environtment from '../environtment/index'
import Vue from 'vue'
import axios from 'axios'
import router from '../router'
import VueSimpleAlert from 'vue-simple-alert'

Vue.use(VueSimpleAlert)
Vue.use(axios)
export default {
  name: 'editProfil',
  data () {
    return {
      login: [{}],
      kandidat: {
        job_function: 'Preferred Job Function'
      },
      marital_data: [{
        id: 1,
        nilai: 'Single'
      },
      {
        id: 3,
        nilai: 'Married'
      },
      {
        id: 4,
        nilai: 'Divorced'
      }
      ],
      religion_data: [{
        id: 1,
        nilai: 'Moslem'
      },
      {
        id: 2,
        nilai: 'Christian'
      },
      {
        id: 3,
        nilai: 'Catholic'
      },
      {
        id: 4,
        nilai: 'Buddhist'
      },
      {
        id: 5,
        nilai: 'Hindu'
      },
      {
        id: 6,
        nilai: 'Confucian'
      }
      ],
      ethnic_data: [{
        id: 1,
        nilai: 'Sunda'
      },
      {
        id: 2,
        nilai: 'Jawa'
      },
      {
        id: 3,
        nilai: 'Batak'
      },
      {
        id: 4,
        nilai: 'Dayak'
      },
      {
        id: 5,
        nilai: 'Aborigin'
      }
      ],
      city_data: [{
        id: 1,
        nilai: 'Sukabumi'
      },
      {
        id: 2,
        nilai: 'Bandung'
      },
      {
        id: 3,
        nilai: 'Jakarta'
      },
      {
        id: 4,
        nilai: 'Surabaya'
      },
      {
        id: 5,
        nilai: 'Bogor'
      },
      {
        id: 6,
        nilai: 'Solo'
      },
      {
        id: 7,
        nilai: 'Manado'
      },
      {
        id: 7,
        nilai: 'Pontianak'
      },
      {
        id: 7,
        nilai: 'Medan'
      }
      ],
      education_data: null,
      jobFunction_data: [{}]
    }
  },
  mounted () {
    this.loadData()
    this.updateuser()
    this.loadEducation()
    this.loadJobFunction()
  },
  methods: {
    loadData () {
      this.login = JSON.parse(window.sessionStorage.getItem('kandidatLogin'))
    },
    imageLoader () {
      var img = environtment.imgUrl + this.login.pict
      return img
    },
    saveData () {
      var data = {
        id: this.login.id,
        full_name: this.login.full_name,
        phone_number: this.login.phone_number,
        email: this.login.email,
        birth_date: this.login.birth_date,
        gender: this.login.gender,
        marital_status: this.login.marital_status,
        religion: this.login.religion,
        ethnic: this.login.ethnic,
        major: this.login.major,
        score: this.login.score,
        job_level: this.login.job_level,
        expected_salary: this.login.expected_salary,
        job_function: this.login.job_function,
        city: this.login.city,
        institution: this.login.institution,
        no_ktp: this.login.no_ktp,
        bio: this.login.bio,
        education: this.login.education,
        year_graduate: this.login.year_graduate
      }
      axios.put(environtment.apiUrl + '/api/candidate/updateuser/' + this.$route.params.id, data)
        .then(Response => {
          sessionStorage.setItem('kandidatLogin', JSON.stringify(Response.data.data[0]))
          this.$fire({
            title: 'Update',
            text: 'Success',
            type: 'success'
          }).then(r => {
            router.push({
              path: '/profilpage'
            }).then(router.go())
          })
        })
    },
    loadEducation () {
      axios
        .get(environtment.apiUrl + '/api/master/education')
        .then(response => {
          console.log(response)
          this.education_data = response.data.data
        })
    },
    loadJobFunction () {
      axios
        .get(environtment.apiUrl + '/api/master/job-function')
        .then(response => (this.jobFunction_data = response.data.data))
    },
     homeReload() {
      this.$router.push({ path: '/profilpage' }).then(this.$router.go())
    },
  },
  computed: {
    calculateAge: function () {
      let currentDate = new Date()
      let birthDate = new Date(this.login.birth_date)
      let difference = currentDate - birthDate
      let age = Math.floor(difference / 31557600000)
      return age
    }
  }
}
</script>
