<!-- eslint-disable no-tabs -->
<!-- eslint-disable vue/no-parsing-error -->
<template>
  <div>
    <div class="content-body">
      <div id="user-profile">
        <!-- profile header -->
        <div class="row">
          <div class="col-12">
            <div class="card profile-header mb-2" style="margin-top: -25px;">
              <!-- profile cover photo -->
              <img class="card-img-top"
                src="https://myapps.aio.co.id/assets/cross/images/profile/user-uploads/timeline.jpg"
                alt="User Profile Image">
              <!--/ profile cover photo -->

                            <div class="position-relative">
                                <!-- profile picture -->
                                <div class="profile-img-container d-flex align-items-center">
                                    <div class="profile-img">
                                        <img :src="imageLoader()" class="rounded img-fluid" alt="Card image">
                                    </div>
                                    <!-- profile title -->
                                    <div class="profile-title ms-3">
                                        <h2 class="text-white">{{login.full_name}}</h2>
                                        <!-- <p class="text-white">UI/UX Designer</p> -->
                                    </div>
                                </div>
                            </div>

              <!-- tabs pill -->
              <div class="profile-header-nav">
                <!-- navbar -->
                <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                  <button class="btn btn-icon navbar-toggler waves-effect waves-float waves-light" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-align-justify font-medium-5">
                      <line x1="21" y1="10" x2="3" y2="10"></line>
                      <line x1="21" y1="6" x2="3" y2="6"></line>
                      <line x1="21" y1="14" x2="3" y2="14"></line>
                      <line x1="21" y1="18" x2="3" y2="18"></line>
                    </svg>
                  </button>

                  <!-- collapse  -->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                      <ul class="nav nav-pills mb-0">
                        <li class="nav-item">
                          <router-link :to="{ path: '/experiencescandidate/'+ login.id}"
                            class="btn btn-flat-primary waves-effect">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-clipboard d-none d-md-inline ficon">
                              <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                              </path>
                              <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                            </svg> <span class="d-none d-md-inline"> {{ $t("message.experiences") }}</span>
                            <svg data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                              data-bs-original-title="Experiences" aria-label="Experiences"
                              xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-clipboard d-md-none ficon">
                              <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                              </path>
                              <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                            </svg>
                          </router-link>
                        </li>
                        <li class="nav-item">
                          <router-link :to="{path: '/skillscandidate/'+ login.id}"
                            class="btn btn-flat-primary waves-effect"><svg xmlns="http://www.w3.org/2000/svg" width="15"
                              height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-book-open d-none d-md-inline">
                              <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                              <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                            </svg><span class="d-none d-md-inline"> {{ $t("message.skill") }}</span>
                            <svg data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                              data-bs-original-title="Skills" aria-label="Skills" xmlns="http://www.w3.org/2000/svg"
                              width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-book-open d-md-none">
                              <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                              <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                            </svg>
                          </router-link>
                        </li>
                        <li class="nav-item">
                          <router-link :to="{path: '/applylist/'+ login.id}" class="btn btn-flat-primary waves-effect">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-briefcase d-none d-md-inline">
                              <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                              <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                            </svg>
                            <span class="d-none d-md-inline">{{ $t("message.apply_list") }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-briefcase d-md-none">
                              <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                              <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                            </svg>
                          </router-link>
                        </li>
                      </ul>
                      <!-- edit button -->
                    </div>
                  </div>
                  <!--/ collapse  -->
                </nav>
                <!--/ navbar -->
              </div>
            </div>
          </div>
        </div>
        <!--/ profile header -->

        <!-- profile info section -->
        <section id="profile-info">
          <div class="row">
            <div class="col-lg-3 col-12 order-2 order-lg-1">
              <div class="card">
                <div class="card-body">
                  <div class="user-avatar-section">
                    <div class="d-flex align-items-center flex-column">
                      <img class="img-fluid rounded mt-3 mb-2" :src="imageLoader()" height="110"
                        width="110" alt="User avatar">
                      <div class="user-info text-center">
                        <h5>{{ login.full_name }}
                            <p>{{ calculateAge }} {{ $t("message.years") }} <br>
                                {{ login.city }}</p>
                        </h5>

                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center pt-2">
                    <router-link :to="{path: '/experienceadd/'+ login.id}" class="btn btn-primary waves-effect waves-float waves-light">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                        <path d="M12 20h9"></path>
                        <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                      </svg>
                      <span>Add Experience</span>
                    </router-link>
                  </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-12 order-1 order-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 align="center" style="font-weight: bold;">{{ $t("message.experiences") }} </h3><hr><br>
                    <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th
                                style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-align: center; width: 10px;">
                                {{ $t("message.company") }}</th>
                              <th width="100px"
                                style="font-weight: bold; font-family:Arial, Helvetica, sans-serif; text-align: center;">
                                {{ $t("message.position") }}</th>
                              <th width="100px"
                                style="font-weight: bold; font-family:Arial, Helvetica, sans-serif; text-align: center;">
                              {{ $t("message.business_line") }}</th>
                              <th width="100px"
                                style="font-weight: bold; font-family:Arial, Helvetica, sans-serif; text-align: center;">
                                {{ $t("message.school_date_Start") }}
                              </th>
                              <th width="100px"
                                style="font-weight: bold; font-family:Arial, Helvetica, sans-serif; text-align: center;">
                                {{ $t("message.school_date_end") }}
                            </th>
                            <th width="100px"
                                style="font-weight: bold; font-family:Arial, Helvetica, sans-serif; text-align: center;">
                                Action
                            </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="(detail,index) in detailexperience" :key="index">
                              <td  style="font-weight: lighter; text-align: center; width: 10px;">
                                {{detail.experience_company}}</td>
                              <td width="100px" style="font-weight: lighter; text-align: center;">
                                {{detail.experience_position }}</td>
                              <td width="100px" style="font-weight: lighter; text-align: center;">
                                {{detail.experience_business_line }}</td>
                              <td width="100px" style="font-weight: lighter; text-align: center;">
                                {{detail.experience_start_date}}</td>
                              <td v-if="detail.experience_end_date == null" width="100px" style="font-weight: lighter; text-align: center;">
                                Currently Working</td>
                                <td v-else width="100px" style="font-weight: lighter; text-align: center;">
                                  {{ detail.experience_end_date }}</td>
                                  <td style="font-weight: lighter; text-align: center;">
                            <div  class="btn-group" role="group" aria-label="Basic example">
                              <button @click.prevent="deleteData(detail.id)" type="button" class="btn btn-outline-primary waves-effect"
                                style="padding-left: 10px; padding-right: 10px;"> <i
                                  class="fa-solid fa-trash"></i></button>
                              <button @click.prevent="editData(detail.id)" type="button" class="btn btn-primary waves-effect"
                                style="padding-left: 10px; padding-right: 10px;"> <i
                                  class="fa-solid fa-pen-to-square"></i></button>
                            </div>

                          </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <!--/ center profile info section -->
          </div>
        </section>
        <!--/ profile info section -->
      </div>
    </div>
    <footer style="background: linear-gradient(180deg, #4B5BEA 0%, #4B5BEA 100%); margin-top: 50px; margin-left:-60px; margin-right:-60px">
      <div class="row" style="color: white;">
        <div class="offset-1 col-md-4">
          <p style="font-size: 18pt; font-weight:900; margin-top:50px">CROSS</p>
          <p>Recruitment Applications</p>
          <p style="margin-top: 50px;">Copyright	&#9400 2023 Otsuka. All Right Reserved</p>
          <ul style="text-decoration: none; margin-top:80px; margin-bottom:80px" >
            <li style="display: inline; margin-left:-28px" ><a href="https://www.facebook.com/otsuka.id" target="_blank"><i class="fa-brands fa-facebook-f" style="color: white;"></i></a></li>
            <li style="display: inline; margin-left:20px"><a href="https://www.twitter.com/otsuka_id" target="_blank"><i class="fa-brands fa-twitter" style="color: white;"></i></a></li>
            <li style="display: inline; margin-left:20px"><a href="https://www.linkedin.com/company/678286" target="_blank"><i class="fa-brands fa-linkedin-in" style="color: white;"></i></a></li>
            <li style="display: inline; margin-left:20px"><a href="https://www.instagram.com/otsuka.id" target="_blank"><i class="fa-brands fa-instagram" style="color: white;"></i></a></li>
          </ul>
        </div>
        <div class="offset-1 col-md-6">
          <p style="font-size: 14pt; font-weight:900; margin-top:60px">Contact</p>
          <div style="margin-top: 30px;">
            <p><i class="fa-solid fa-phone" style="margin-right: 10px;"></i> (021) 7697475</p>
            <p><i class="fa-solid fa-envelope" style="margin-right: 10px;"></i> recruitment@aio.co.id</p>
            <div class="row">
              <div class="col-1" style="margin-right: -30px;"><i class="fa-solid fa-location-dot"></i></div>
              <div class="col-11"><p style="max-width: 360px;">Pondok Indah Office Tower I 6th Floor.Jl.Sultan Iskandar Muda Kav. V-TASouth Jakarta, DKI Jakarta 123</p></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import moment from 'moment'
import environtment from '../environtment/index'
import router from '../router'

Vue.use(axios)
export default {
  name: 'experiencesCandidate',
  data () {
    return {
      login: [{}],
      detailexperience: [{}]
    }
  },
  mounted () {
    this.loadData()
    this.loadexperience()
  },
  methods: {
    deleteData (idExperience) {
      this.$fire({
        title: 'Delete this experience?',
        text: "Are you sure? You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Yes, Delete it!'
      }).then((result) => { // <--
        if (result.value) { // <-- if confirmed
          axios.delete(environtment.apiUrl + '/api/candidate/deleteexperience/' + idExperience)
            .then(Response => {
              this.$fire({
                title: 'Deleted!',
                text: 'Experience has been deleted',
                type: 'success'
              }).then(r => {
                router.push({
                  path: '/experiencescandidate/' + this.login.id
                })
              })
            })
        }
      })
    },
    loadData () {
      this.login = JSON.parse(window.sessionStorage.getItem('kandidatLogin'))
    },
    loadexperience () {
      axios
        .get(environtment.apiUrl + '/api/candidate/experience/' + this.$route.params.id)
        .then(response => (this.detailexperience = response.data.data))
      console.log()
    },
    getFormattedDate (date) {
      return moment(date).format('DD MMMM YYYY')
    },
    getFormattedEnd (date) {
      return moment(date).format('DD MMMM YYYY')
    },
    imageLoader () {
      var img = environtment.imgUrl + this.login.pict
      return img
    },
    editData (idExperience) {
      router.push({path: '/editexperience/' + idExperience})
    }
  },
  computed: {
    calculateAge: function () {
      let currentDate = new Date()
      let birthDate = new Date(this.login.birth_date)
      let difference = currentDate - birthDate
      let age = Math.floor(difference / 31557600000)
      return age
    }
  }
}
</script>
