<template>
  <div>
    <div class="app-content content ">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
          <div class="auth-wrapper auth-cover" >
            <div class="auth-inner row m-0">
              <div class="d-none d-lg-flex col-lg-8 align-items-center ">
                <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
                  <img class="img-fluid"
                    src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/bs5-old/app-assets/images/pages/forgot-password-v2.svg"
                    alt="Forgot password V2">
                </div>
              </div>
              <div class="d-flex col-lg-4 align-items-center px-2 p-lg-2" style="background-color: white; ">
                <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                  <h2 class="card-title fw-bold mb-1" style="padding-top: 30px;">{{ $t("message.forgot_password") }} 🔒</h2>
                  <p class="card-text mb-2">{{ $t("message.forgot_password1") }}</p>
                  <div class="mb-1">
                    <label class="form-label" for="forgotemail">{{ $t("message.email") }}</label>
                    <input class="form-control" id="forgotemail" type="text" placeholder="john@example.com" autofocus=""
                      tabindex="1" v-model="email">
                  </div>
                  <button class="btn btn-primary w-100 waves-effect waves-float waves-light" tabindex="2"
                    @click.prevent="forgotPassword()">{{ $t("message.submit") }}</button>
                   <p class="text-center mt-2">
                  <a @click="homeReload" type="button" class="btn btn-outline-primary waves-effect d-none d-md-inline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-home me-25">
                      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                      <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    <span>{{ $t("message.home1") }}</span>
                  </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
import VueSimpleAlert from 'vue-simple-alert'
import VueSweetalert2 from 'vue-sweetalert2'
import environtment from '../environtment'
import router from '../router/index'

Vue.use(VueSimpleAlert)
Vue.use(VueSweetalert2)
Vue.use(axios)
export default {
  name: 'forgotpassword',
  data () {
    return {
      email: ''
    }
  },
  mounted () {

  },
  methods: {
    forgotPassword () {
      axios.post(environtment.apiUrl + '/api/candidate/forgotpassword', {
        email: this.email
      }).then(Response => {
        console.log(Response)
        this.$fire({
          title: 'Success!',
          text: 'Please check your email for reset password link',
          type: 'success'
        }).then(r => {
          router.push({
            path: '/login'
          }).then(router.go())
        })
      })
    },
    homeReload () {
      this.$router.push({ path: '/' }).then(this.$router.go())
    }
  }
}
</script>
