<!-- eslint-disable no-tabs -->
<!-- eslint-disable vue/no-parsing-error -->
<template >
  <div>
    <div class="card" style="background-color: #EBF8FF;margin-top: -40px; margin-right:-60px; margin-left:-60px">
      <div class="row justify-content-center">
        <div class="col-md-7 offset-1 order-2 order-lg-1" style="margin-top: 40px;">
          <p style="font-size: 24pt; color: #B3005E; font-weight:bold">{{ $t("message.career1") }}</p>
          <br>
            <p style="line-height: 10pt; font-weight:bold; max-width:700px">{{ $t("message.career2") }}</p>
            <p style="line-height: 10pt; font-weight:bold; max-width:700px ">{{ $t("message.career3") }}</p>
            <div class="card" style="margin-right: 100px; margin-top:70px">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <label for="job_title">{{ $t("message.job_title") }}</label>
                    <input v-model="jobTitle" @change="loadOpenVacancies" @keydown="loadOpenVacancies" @keyup="loadOpenVacancies" type="text" id="job_title" name="job_title" placeholder="IT Apps Developer" class="form-control" style="margin-top: 7px; border-radius:10px">
                  </div>
                  <div class="col-md-5">
                    <label for="location">{{ $t("message.location") }}</label>
                    <select @change="loadOpenVacancies" class="form-select" id="location" v-model="location" style="margin-top: 7px; border-radius:10px; cursor:pointer">
                      <option selected>Semua Lokasi</option>
                      <option v-for="(dataLokasi, idx) in jobLocation" :key="idx" :value="dataLokasi.location">
                        {{ dataLokasi.location }}</option>
                    </select>
                  </div>
                  <div class="col-md-1 d-none d-md-inline" style="margin: auto;">
                    <a @click.prevent="loadOpenVacancies"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="30px" height="30px" viewBox="0 0 1920 1920">
                      <path d="M1458.948 1305.626c104.637-136.95 167.527-307.187 167.527-492.388C1626.475 364.764 1261.711 0 813.238 0 364.764 0 0 364.764 0 813.238c0 448.473 364.764 813.237 813.238 813.237 185.201 0 355.547-62.89 492.496-167.527L1766.678 1920 1920 1766.678l-461.052-461.052Zm-645.71 103.986c-328.874 0-596.375-267.61-596.375-596.374 0-328.765 267.501-596.375 596.375-596.375 328.873 0 596.374 267.61 596.374 596.375s-267.501 596.374-596.374 596.374Z" fill-rule="evenodd"/>
                  </svg></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 order-1 order-lg-2">
          <img src="https://myapps.aio.co.id/assets/cross/images/people.png" alt="" style="height: auto; max-width:500px; float: right;">
        </div>
      </div>
    </div>
    <!-- <div v-if="$data.openVacancies === null" style="background-color:white;margin-top: -30px; margin-right:-60px; margin-left:-60px; border-top-right-radius: 0px;border-top-left-radius: 0px;">
      <div class="row" style="margin: 0px 10px;">
        <div class="open" style="font-family: Arial, Helvetica, sans-serif; margin-bottom:20px; margin-top: 30px; font-size:12pt">
          Lowongan Belum Tersedia
        </div>
      </div>
    </div> -->
    <!-- <div v-if="openVacancies != null" style="background-color:white;margin-top: -30px; margin-right:-60px; margin-left:-60px; border-top-right-radius: 0px;border-top-left-radius: 0px;">
      <div class="row" style="margin: 0px 10px;">
        <div class="open" style="font-family: Arial, Helvetica, sans-serif; margin-bottom:20px; margin-top: 30px; font-size:12pt">
          Lowongan Sudah Ada
        </div>
      </div>
    </div> -->
    <div v-if="openVacancies == null" style="background-color:white;margin-top: -30px; margin-right:-60px; margin-left:-60px; border-top-right-radius: 0px;border-top-left-radius: 0px;">
      <div class="row" style="margin: 0px 10px;">
        <div class="open" style="font-family: Arial, Helvetica, sans-serif; margin-bottom:20px; margin-top: 30px; font-size:12pt">
          Lowongan pekerjaan belum tersedia
          <span style="float: right;" v-if="grid == true">
            <button @click.prevent="changeGrid" type="button" class="btn btn-icon btn-outline-primary waves-effect active">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
          </button>
          <button @click.prevent="changeList" type="button" class="btn btn-icon btn-outline-primary waves-effect">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
        </button>
          </span>
          <span style="float: right;" v-else >
            <button @click.prevent="changeGrid" type="button" class="btn btn-icon btn-outline-primary waves-effect">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
          </button>
          <button @click.prevent="changeList" type="button" class="btn btn-icon btn-outline-primary waves-effect active">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
        </button>
          </span>
        </div>
      </div>
    </div>
    <div v-else style="background-color:white;margin-top: -30px; margin-right:-60px; margin-left:-60px; border-top-right-radius: 0px;border-top-left-radius: 0px;">
      <div class="row" style="margin: 0px 10px;">
        <div class="open" style="font-family: Arial, Helvetica, sans-serif; margin-bottom:20px; margin-top: 30px">
          {{openVacancies.length}} {{ $t("message.openvacancies") }}
          <span style="float: right;" v-if="grid == true">
            <button @click.prevent="changeGrid" type="button" class="btn btn-icon btn-outline-primary waves-effect active">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
          </button>
          <button @click.prevent="changeList" type="button" class="btn btn-icon btn-outline-primary waves-effect">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
        </button>
          </span>
          <span style="float: right;" v-else >
            <button @click.prevent="changeGrid" type="button" class="btn btn-icon btn-outline-primary waves-effect">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
          </button>
          <button @click.prevent="changeList" type="button" class="btn btn-icon btn-outline-primary waves-effect active">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
        </button>
          </span>
        </div>
        <div v-show="grid" v-if="openVacancies != undefined" class="col-md-3" v-for="(item,index) in openVacancies.slice((currentPage-1)*perPage,(currentPage-1)*perPage+perPage)" :key="index">
          <a href="" hidden>{{publish_date(index)}}</a>
          <div class="code code--small code--right aos-init aos-animate" data-aos="zoom-in-up">
            <div class="card">
              <div class="card-body">
                <a href=""><svg style="float: right;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2">
                  <circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg></a>
                  <p style="margin-top: 5px; font-weight:bolder; font-size:14pt">{{item.position}}</p>
                  <div class="row">
                    <div class="col-6"><p style="font-size: 10pt;"><i class="fa-solid fa-location-dot" style="color: #BDCDD6 ;font-size: 12px; "></i> {{item.location_site}}</p></div>
                    <div class="col-6">
                      <p style="font-size: 10pt;"><i class="fa-solid fa-briefcase" style="color: #BDCDD6 ;font-size: 12px; "></i> {{item.education_name}}</p>
                    </div>
                  </div>
                  <p style="font-size: 10pt;"><i class="fa-solid fa-circle-dot" style="color: #BDCDD6 ;font-size: 12px; "></i> {{item.job_function}}</p>
                  <p style="font-size: 10pt;"><i class="fa-solid fa-clock" style="color: #BDCDD6 ;font-size: 12px; "></i> {{ $t("message.applied_date") }} {{item.expired_date}}</p>
                  <br>
                  <hr>
                  <p style="font-size: 10pt;">{{ jobDate[index] }} {{ $t("message.days") }} </p>
                  <br>
                  <div class="row">
                    <div class="col-6">
                      <button @click="detailReload(index)"  type="button" class="btn btn-outline-primary waves-effect d-md-inline" style="padding: 8px 30px; border-radius:8px; float: left;">
                        <span>{{ $t("message.details") }}</span>
                      </button>
                      </div>
                      <div class="col-6" >
                        <button @click="checlist(item.id)" class="btn btn-primary waves-effect waves-float waves-light d-md-inline" style="margin-left: 6px; padding: 8px 34px; border-radius:8px; float:right">
                          <span>{{ $t("message.apply") }}</span>
                        </button>
                    </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
      <div v-show="list">
        <div class="row justify-content-center">
          <div class="col-md-8 " style="margin-top: 10px;" v-for="(item,index) in openVacancies.slice((currentPage-1)*perPage,(currentPage-1)*perPage+perPage)" :key="index">
            <div class="row">
              <div class="col-md-9">
                <h4 style="font-weight: bold;">{{item.position}}</h4>
                <p><i class="fa-solid fa-location-dot" style="color: #BDCDD6 ;font-size: 12px;"></i> {{item.location}}</p>
              </div>
              <div class="col-md-3" style="margin:auto">
                <button @click="detailReload(index)"  type="button" class="btn btn-outline-primary waves-effect d-md-inline" style="padding: 8px 30px; border-radius:8px; float: right;">
                  <span>{{ $t("message.details") }}</span>
                </button>
              </div>
            </div>
            <hr style="border: solid grey 1px">
          </div>
        </div>
      </div>
        <div style="margin-left: 40%;">
          <b-pagination style="margin-bottom:10px" v-model="currentPage" :total-rows="openVacancies.length" :per-page="perPage" first-text="First" prev-text="Prev" next-text="Next" last-text="Last">{{ $t("message.all") }}</b-pagination>
        </div>
      </div>
    </div>
    <div id="event" v-if="listEvent == null" style="background-color:white;margin-top: 30px; margin-right:-60px; margin-left:-60px; border-top-right-radius: 0px;border-top-left-radius: 0px;">
      <nav  v-show="isAll" class="navbar navbar-expand-lg align-items-center navbar-light navbar-shadow" >
        <div class="container-fluid">
          <a class="navbar-brand d-md-none">{{ $t("message.event") }}</a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor2" aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor2" style="">
            <ul style="margin-top: 20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a @click.prevent="all" style="margin-left:60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.all") }}</a>
                <hr style="padding: 0; margin:0 0 0 60px; width:40px; border: solid #2F58CD 3px; border-radius:2px">
              </li>
              <li class="nav-item"><a @click.prevent="OnGoing" class="nav-link"
                style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black">{{ $t("message.on_going") }}</a>
              </li>
              <li class="nav-item"><a @click.prevent="Upcoming" style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.up_coming") }}</a>
              </li>
              <li class="nav-item"><a @click.prevent="Past" class="nav-link" style="margin-left: 60px;padding-right:20px; color:black"
               >{{ $t("message.past") }}</a>
              </li>
            </ul>
            <form style="margin-top: 20px;" class="d-flex" >
              <input class="form-control me-1" type="text" :placeholder="$t('message.search_event')" style="width: 300px;" v-model="searchEvent" @change="all" @keydown="all" @keyup="all">
              <button @click.prevent="all" type="button" class="btn btn-icon btn-primary waves-effect" style="padding: 10px 15px; 10px 10px">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </button>
            </form>
          </div>
        </div>
      </nav>
      <nav  v-show="isOnGoing" class="navbar navbar-expand-lg align-items-center navbar-light navbar-shadow" >
        <div class="container-fluid">
          <a class="navbar-brand d-md-none">{{ $t("message.event") }}</a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor2" aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor2" style="">
            <ul style="margin-top: 20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a @click.prevent="all" style="margin-left:60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.all") }}</a>
              </li>
              <li class="nav-item"><a @click.prevent="OnGoing" class="nav-link"
                style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black">{{ $t("message.on_going") }}</a>
                <hr style="padding: 0; margin:0 0 0 60px; width:100px; border: solid #2F58CD 3px; border-radius:2px">
              </li>
              <li class="nav-item"><a @click.prevent="Upcoming" style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.up_coming") }}</a>
              </li>
              <li class="nav-item"><a @click.prevent="Past" class="nav-link" style="margin-left: 60px;padding-right:20px; color:black"
               >{{ $t("message.past") }}</a>
              </li>
            </ul>
            <form style="margin-top: 20px;" class="d-flex" >
              <input class="form-control me-1" type="text" placeholder="Search event here" style="width: 300px;" v-model="searchEvent" @keydown="OnGoing" @keyup="OnGoing" @keypress="OnGoing">
              <button @click.prevent="OnGoing" type="button" class="btn btn-icon btn-primary waves-effect" style="padding: 10px 15px; 10px 10px">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </button>
            </form>
          </div>
        </div>
      </nav>
      <nav  v-show="isUpcoming" class="navbar navbar-expand-lg align-items-center navbar-light navbar-shadow" >
        <div class="container-fluid">
          <a class="navbar-brand d-md-none">{{ $t("message.event") }}</a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor2" aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor2" style="">
            <ul style="margin-top: 20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a @click.prevent="all" style="margin-left:60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.all") }}</a>
              </li>
              <li class="nav-item"><a @click.prevent="OnGoing" class="nav-link"
                style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black">{{ $t("message.on_going") }}</a>
              </li>
              <li class="nav-item"><a @click.prevent="Upcoming" style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.up_coming") }}</a>
                <hr style="padding: 0; margin:0 0 0 60px; width:100px; border: solid #2F58CD 3px; border-radius:2px">
              </li>
              <li class="nav-item"><a @click.prevent="Past" class="nav-link" style="margin-left: 60px;padding-right:20px; color:black"
               >{{ $t("message.past") }}</a>
              </li>
            </ul>
            <form style="margin-top: 20px;" class="d-flex" >
              <input class="form-control me-1" type="text" placeholder="Search event here" style="width: 300px;" v-model="searchEvent" @keydown="Upcoming" @keyup="Upcoming" @keypress="Upcoming">
              <button @click.prevent="Upcoming" type="button" class="btn btn-icon btn-primary waves-effect" style="padding: 10px 15px; 10px 10px">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </button>
            </form>
          </div>
        </div>
      </nav>
      <nav  v-show="isPast" class="navbar navbar-expand-lg align-items-center navbar-light navbar-shadow" >
        <div class="container-fluid">
          <a class="navbar-brand d-md-none">{{ $t("message.event") }}</a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor2" aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor2" style="">
            <ul style="margin-top: 20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a @click.prevent="all" style="margin-left:60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.all") }}</a>
              </li>
              <li class="nav-item"><a @click.prevent="OnGoing" class="nav-link"
                style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black">{{ $t("message.on_going") }}</a>
              </li>
              <li class="nav-item"><a @click.prevent="Upcoming" style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.up_coming") }}</a>
              </li>
              <li class="nav-item"><a @click.prevent="Past" class="nav-link" style="margin-left: 60px; padding-bottom:0; padding-right:20px; color:black"
               >{{ $t("message.past") }}</a>
               <hr style="padding: 0; margin:0 0 0 60px; width:60px; border: solid #2F58CD 3px; border-radius:2px">
              </li>
            </ul>
            <form style="margin-top: 20px;" class="d-flex" >
              <input class="form-control me-1" type="text" placeholder="Search event here" style="width: 300px;" v-model="searchEvent" @change="Past" @keydown="Past" @keyup="Past">
              <button @click.prevent="Past" type="button" class="btn btn-icon btn-primary waves-effect" style="padding: 10px 15px; 10px 10px">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </button>
            </form>
          </div>
        </div>
      </nav>
      <div style="text-align: center; margin-top: 30px">
        Event Tidak Ada
      </div>
    </div>
    <div id="event" v-else style="background-color:white;margin-top: 30px; margin-right:-60px; margin-left:-60px; border-top-right-radius: 0px;border-top-left-radius: 0px;">
        <nav  v-show="isAll" class="navbar navbar-expand-lg align-items-center navbar-light navbar-shadow" >
          <div class="container-fluid">
            <a class="navbar-brand d-md-none">{{ $t("message.event") }}</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor2" aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarColor2" style="">
              <ul style="margin-top: 20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a @click.prevent="all" style="margin-left:60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.all") }}</a>
                  <hr style="padding: 0; margin:0 0 0 60px; width:40px; border: solid #2F58CD 3px; border-radius:2px">
                </li>
                <li class="nav-item"><a @click.prevent="OnGoing" class="nav-link"
                  style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black">{{ $t("message.on_going") }}</a>
                </li>
                <li class="nav-item"><a @click.prevent="Upcoming" style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.up_coming") }}</a>
                </li>
                <li class="nav-item"><a @click.prevent="Past" class="nav-link" style="margin-left: 60px;padding-right:20px; color:black"
                 >{{ $t("message.past") }}</a>
                </li>
              </ul>
              <form style="margin-top: 20px;" class="d-flex" >
                <input class="form-control me-1" type="text" placeholder="Search event here" style="width: 300px;" v-model="searchEvent" @change="all" @keydown="all" @keyup="all">
                <button @click.prevent="all" type="button" class="btn btn-icon btn-primary waves-effect" style="padding: 10px 15px; 10px 10px">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
              </button>
              </form>
            </div>
          </div>
        </nav>
        <nav  v-show="isOnGoing" class="navbar navbar-expand-lg align-items-center navbar-light navbar-shadow" >
          <div class="container-fluid">
            <a class="navbar-brand d-md-none">{{ $t("message.event") }}</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor2" aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarColor2" style="">
              <ul style="margin-top: 20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a @click.prevent="all" style="margin-left:60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.all") }}</a>
                </li>
                <li class="nav-item"><a @click.prevent="OnGoing" class="nav-link"
                  style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black">{{ $t("message.on_going") }}</a>
                  <hr style="padding: 0; margin:0 0 0 60px; width:100px; border: solid #2F58CD 3px; border-radius:2px">
                </li>
                <li class="nav-item"><a @click.prevent="Upcoming" style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.up_coming") }}</a>
                </li>
                <li class="nav-item"><a @click.prevent="Past" class="nav-link" style="margin-left: 60px;padding-right:20px; color:black"
                 >{{ $t("message.past") }}</a>
                </li>
              </ul>
              <form style="margin-top: 20px;" class="d-flex" >
                <input class="form-control me-1" type="text" placeholder="Search event here" style="width: 300px;" v-model="searchEvent" @keydown="OnGoing" @keyup="OnGoing" @keypress="OnGoing">
                <button @click.prevent="OnGoing" type="button" class="btn btn-icon btn-primary waves-effect" style="padding: 10px 15px; 10px 10px">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
              </button>
              </form>
            </div>
          </div>
        </nav>
        <nav  v-show="isUpcoming" class="navbar navbar-expand-lg align-items-center navbar-light navbar-shadow" >
          <div class="container-fluid">
            <a class="navbar-brand d-md-none">{{ $t("message.event") }}</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor2" aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarColor2" style="">
              <ul style="margin-top: 20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a @click.prevent="all" style="margin-left:60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.all") }}</a>
                </li>
                <li class="nav-item"><a @click.prevent="OnGoing" class="nav-link"
                  style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black">{{ $t("message.on_going") }}</a>
                </li>
                <li class="nav-item"><a @click.prevent="Upcoming" style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.up_coming") }}</a>
                  <hr style="padding: 0; margin:0 0 0 60px; width:100px; border: solid #2F58CD 3px; border-radius:2px">
                </li>
                <li class="nav-item"><a @click.prevent="Past" class="nav-link" style="margin-left: 60px;padding-right:20px; color:black"
                 >{{ $t("message.past") }}</a>
                </li>
              </ul>
              <form style="margin-top: 20px;" class="d-flex" >
                <input class="form-control me-1" type="text" placeholder="Search event here" style="width: 300px;" v-model="searchEvent" @keydown="Upcoming" @keyup="Upcoming" @keypress="Upcoming">
                <button @click.prevent="Upcoming" type="button" class="btn btn-icon btn-primary waves-effect" style="padding: 10px 15px; 10px 10px">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
              </button>
              </form>
            </div>
          </div>
        </nav>
        <nav  v-show="isPast" class="navbar navbar-expand-lg align-items-center navbar-light navbar-shadow" >
          <div class="container-fluid">
            <a class="navbar-brand d-md-none">{{ $t("message.event") }}</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor2" aria-controls="navbarColor2" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarColor2" style="">
              <ul style="margin-top: 20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a @click.prevent="all" style="margin-left:60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.all") }}</a>
                </li>
                <li class="nav-item"><a @click.prevent="OnGoing" class="nav-link"
                  style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black">{{ $t("message.on_going") }}</a>
                </li>
                <li class="nav-item"><a @click.prevent="Upcoming" style="margin-left: 60px; padding-right:20px; padding-bottom:0; color:black" class="nav-link">{{ $t("message.up_coming") }}</a>
                </li>
                <li class="nav-item"><a @click.prevent="Past" class="nav-link" style="margin-left: 60px; padding-bottom:0; padding-right:20px; color:black"
                 >{{ $t("message.past") }}</a>
                 <hr style="padding: 0; margin:0 0 0 60px; width:60px; border: solid #2F58CD 3px; border-radius:2px">
                </li>
              </ul>
              <form style="margin-top: 20px;" class="d-flex" >
                <input class="form-control me-1" type="text" placeholder="Search event here" style="width: 300px;" v-model="searchEvent" @change="Past" @keydown="Past" @keyup="Past">
                <button @click.prevent="Past" type="button" class="btn btn-icon btn-primary waves-effect" style="padding: 10px 15px; 10px 10px">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
              </button>
              </form>
            </div>
          </div>
        </nav>
      <div class="row" style="margin-top: 30px; margin-right:62px; margin-left:62px">
        <div class="col-md-4" v-for="(dataEvent, indexEvent) in listEvent.slice((currentPageEvent-1)*perPageEvent,(currentPageEvent-1)*perPageEvent+perPageEvent)" :key="indexEvent">
          <div class="code code--small code--right aos-init aos-animate" data-aos="zoom-in-up">
          <div class="card" style="border-radius: 20px; border: solid #4B5BEA 1px">
            <div class="card-body">
              <div style="max-width: 500px; height:220px; border: solid black 1px; border-radius:20px">
                <img v-if="dataEvent.picture != null" :src="dataEvent.picture" alt="">
                <h3 v-else style="text-align: center; margin-top:100px">Image</h3>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="offset-1 col-6" style="float: left;">
                  <p style="font-weight: 900; font-size:13pt">{{dataEvent.name}}</p>
                </div>
                <div class="col-5" style="float: right;">
                  <a href=""><svg style="float: right;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2">
                    <circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg></a>
                </div>
              </div>
              <div class="row">
                <div class="offset-1 col-11">
                  <i class="fa-solid fa-calendar-days" style="margin-right: 10px;"></i> {{ dataEvent.start_date }} - {{ dataEvent.end_date }}
                </div>
                <div class="offset-1 col-11">
                  <i class="fa-solid fa-location-dot" style="margin-right: 10px;"></i> {{ dataEvent.location }}
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>
    <div style="margin-left: 40%; margin-bottom:20px; margin-top: 10px">
      <b-pagination style="" v-model="currentPageEvent" :total-rows="listEvent.length" :per-page="perPageEvent" first-text="First" prev-text="Prev" next-text="Next" last-text="Last"></b-pagination>
    </div>
  </div>
    </div>
    <footer style="background: linear-gradient(180deg, #4B5BEA 0%, #4B5BEA 100%); margin-top: 50px; margin-left:-60px; margin-right:-60px">
      <div class="row" style="color: white;">
        <div class="offset-1 col-md-4">
          <p style="font-size: 18pt; font-weight:900; margin-top:50px">CROSS</p>
          <p>Recruitment Applications</p>
          <p style="margin-top: 50px;">Copyright	&#9400 2023 Otsuka. All Right Reserved</p>
          <ul style="text-decoration: none; margin-top:80px; margin-bottom:80px" >
            <li style="display: inline; margin-left:-28px" ><a href="https://www.facebook.com/otsuka.id" target="_blank"><i class="fa-brands fa-facebook-f" style="color: white;"></i></a></li>
            <li style="display: inline; margin-left:20px"><a href="https://www.twitter.com/otsuka_id" target="_blank"><i class="fa-brands fa-twitter" style="color: white;"></i></a></li>
            <li style="display: inline; margin-left:20px"><a href="https://www.linkedin.com/company/678286" target="_blank"><i class="fa-brands fa-linkedin-in" style="color: white;"></i></a></li>
            <li style="display: inline; margin-left:20px"><a href="https://www.instagram.com/otsuka.id" target="_blank"><i class="fa-brands fa-instagram" style="color: white;"></i></a></li>
          </ul>
        </div>
        <div class="offset-1 col-md-6">
          <p style="font-size: 14pt; font-weight:900; margin-top:60px">Contact</p>
          <div style="margin-top: 30px;">
            <p><i class="fa-solid fa-phone" style="margin-right: 10px;"></i> (021) 7697475</p>
            <p><i class="fa-solid fa-envelope" style="margin-right: 10px;"></i> recruitment@aio.co.id</p>
            <div class="row">
              <div class="col-1" style="margin-right: -30px;"><i class="fa-solid fa-location-dot"></i></div>
              <div class="col-11"><p style="max-width: 360px;">Pondok Indah Office Tower I 6th Floor.Jl.Sultan Iskandar Muda Kav. V-TASouth Jakarta, DKI Jakarta 123</p></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
 </div>

</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import environtment from '../environtment/index'
import router from '../router/index'
import moment from 'moment'
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue'

Vue.use(BootstrapVue)
Vue.use(IconsPlugin)
Vue.use(axios)
export default {
  name: 'landingpage',
  components: {

  },
  data () {
    return {
      openVacancies: null,
      listEvent: null,
      jobLocation: [],
      login: [{}],
      grid: true,
      list: false,
      isApply: true,
      isApplied: false,
      pageOfItems: [],
      location: 'Semua Lokasi',
      jobTitle: '',
      jobDate: [{}],
      perPage: 8,
      currentPage: 1,
      perPageEvent: 3,
      currentPageEvent: 1,
      isAll: true,
      isUpcoming: false,
      isOnGoing: false,
      isPast: false,
      searchEvent: '',
      all_data: null
    }
  },
  mounted () {
    this.loadOpenVacancies()
    this.loadData()
    this.loadLocation()
    this.publish_date()
    this.all()
  },
  methods: {
    loadOpenVacancies () {
      axios.post(environtment.apiUrl + '/api/openvacancies/openvacancies', {
        'location': this.location,
        'jobTitle': this.jobTitle
      }).then(result => {
        console.log(result.data.data)
        this.openVacancies = result.data.data
      })
    },
    loadLocation () {
      axios
        .get(environtment.apiUrl + '/api/openvacancies/location')
        .then(response => (this.jobLocation = response.data.data))
    },
    loadData () {
      this.login = JSON.parse(window.sessionStorage.getItem('kandidatLogin'))
    },
    detailReload (i) {
      router.push({path: '/detailvacancies/' + this.openVacancies[i].id}).then(router.go())
    },
    changeGrid () {
      this.grid = true
      this.list = false
    },
    changeList () {
      this.list = true
      this.grid = false
    },
    async publish_date (index) {
      let currentDate = new Date(moment().format('MM-DD-YYYY'))
      let publishDate = new Date(this.openVacancies[index].publish_date)
      let difference = currentDate - publishDate
      let age = Math.ceil(difference / (1000 * 3600 * 24))
      this.jobDate[index] = age
      // console.log(currentDate)
      // console.log(publishDate)
    },
    registerReload (index) {
      if (this.login == null) {
        this.$router.push({
          path: '/login'
        }).then(this.$router.go())
      } else {
        // eslint-disable-next-line eqeqeq
        if (this.btnaplly == true) {
          axios
            .post(environtment.apiUrl + '/api/candidatelist/candidatelist', {
              requisition_id: this.$route.params.id,
              candidate_id: this.login.id,
              status_candidate: 1,
              is_fail: 1
            }).then(response => {
              console.log(response)
            })
          this.$fire({
            title: '{{$t(",")}}',
            text: 'Apply Success',
            type: 'success'
          }).then(r => {
            router.push({ path: '/applylist/' + this.login.id }).then(router.go())
          })
        } else {
          this.btnaplly = false
          this.$fire({
            title: 'Failed',
            text: 'You have been applied before',
            type: 'error'
          }).then(r => {
            router.push({ path: '/' }).then(router.go())
          })
        }
      }
    },
    checlist (id) {
      if (this.login == null) {
        this.$router.push({
          path: '/login'
        }).then(this.$router.go())
      } else {
        axios
          .post(environtment.apiUrl + `/api/candidatelist/checkapply`, {
            candidate_id: this.login.id,
            requisition_id: id
          })
          .then(response => {
            console.log(response)
            if (response.data.data[0].requisition_id && response.data.data[0].candidate_id) {
              this.$fire({
                title: 'Failed!',
                text: 'You have been applied before',
                type: 'error'
              })
            } else {
              axios
                .post(environtment.apiUrl + '/api/candidatelist/candidatelist', {
                  requisition_id: id,
                  candidate_id: this.login.id,
                  status_candidate: 1,
                  is_fail: 1
                }).then(response => {
                  console.log(response)
                })
              this.$fire({
                title: 'Success!',
                text: 'Applying Success',
                type: 'success'
              }).then(r => {
                router.push({ path: '/applylist/' + this.login.id }).then(router.go())
              })
            }
          })
      }
    },
    scrollMeTo (refName) {
      var element = this.$els[refName]
      element.scrollIntoView({ behavior: 'smooth' })
    },
    all () {
      console.log(this.searchEvent)
      this.isAll = true
      this.isUpcoming = false
      this.isOnGoing = false
      this.isPast = false
      axios.post(environtment.apiUrl + '/api/event/all', {
        'searchEvent': this.searchEvent
      }).then(result => {
        console.log(result.data.data)
        this.listEvent = result.data.data
      })
    },
    Upcoming () {
      this.isAll = false
      this.isUpcoming = true
      this.isOnGoing = false
      this.isPast = false
      axios.post(environtment.apiUrl + '/api/event/upcoming', {
        'searchEvent': this.searchEvent
      }).then(result => {
        console.log(result.data.data)
        this.listEvent = result.data.data
      })
    },
    OnGoing () {
      this.isAll = false
      this.isUpcoming = false
      this.isOnGoing = true
      this.isPast = false
      axios.post(environtment.apiUrl + '/api/event/on-going', {
        'searchEvent': this.searchEvent
      }).then(result => {
        console.log(result.data.data)
        this.listEvent = result.data.data
      })
    },
    Past () {
      this.isAll = false
      this.isUpcoming = false
      this.isOnGoing = false
      this.isPast = true
      axios.post(environtment.apiUrl + '/api/event/past', {
        'searchEvent': this.searchEvent
      }).then(result => {
        console.log(result.data.data)
        this.listEvent = result.data.data
      })
    }
  },
  computed: {
    rows () {
      return this.items.length
    }
  }
}
</script>
<style>
  .position {
    /* font-size: 16px; */
    font-weight: bold;
    text-transform: uppercase;
    color: black;

    /* padding-top: 10px;
  margin-top: 0px 5px; */
  }

  .site {
    color: gray;
    font-size: 11px;

  }
/*
  .col {
    border-bottom: solid gray 1pt;
    padding-bottom: 15px;
  } */

  .open {
    margin-top: 70px;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* table th {
  padding: 15px 35px;
  border-left:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
} */

  table th:first-child {
    border-left: none;
  }

  table tr {

    padding-left: 20px;
  }

  table tr:last-child td {
    border-bottom: 0;
  }

  table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .jobVacancies:hover {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
  }
  .text-box {
    margin-left: 44vw;
   margin-top: 42vh;
}

.btna:link,
.btna:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btna:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btna:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btna-white {
    background-color: #fff;
    color: #777;
    border: solid #537FE7 1px;
}

.btna::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btna-white::after {
    background-color: rgb(235, 235, 235);
}

.btna:hover::after {
    transform: scaleX(1.1) scaleY(1.3);
    opacity: 0;
}

.btna-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
</style>
