<!-- eslint-disable eqeqeq -->
<!-- eslint-disable no-multiple-empty-lines -->
<!-- eslint-disable no-trailing-spaces -->
<template>
  <div>
    <div class="content-body">
      <div class="auth-wrapper auth-cover">
        <div class="auth-inner row m-0">
          <!-- Left Text-->
          <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
              <img class="img-fluid"
                src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/bs5-old/app-assets/images/pages/login-v2.svg"
                alt="Login V2"></div>
          </div>
          <!-- /Left Text-->
          <!-- Login-->
          <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5 bg-white" style=" padding-bottom:20px">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
              <center><img style="max-height:77px; width: auto;"
                  src="https://otsuka.karirpad.com/assets/images/aio_logo_w500.png"
                  title="Otsuka - PT Amerta Indah Otsuka" alt="Otsuka - PT Amerta Indah Otsuka"
                  class="img-header-otsuka d-md-none mb-2 mt-1"></center>
              <h2 style="font-size: 14pt; font-weight:bold" class="card-title mb-1">{{$t("message.welcome1")}}</h2>
              <p class="card-text mb-2">{{ $t("message.welcome2") }}</p>
              <form novalidate="novalidate">
                <div class="mb-1">
                  <label class="form-label" for="login-email">{{ $t("message.email") }}</label>
                  <input class="form-control" id="login-email" type="text" name="login-email"
                    :placeholder="$t('message.username')" aria-describedby="login-email" autofocus="" tabindex="1"
                    v-model="email">
                </div>
                <div class="mb-1">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="login-password">Password</label><a @click="forgotload"><small
                        style="color: blue;">{{ $t("message.forgot_password") }}</small> </a>
                  </div>

                  <div class="input-group input-group-merge form-password-toggle">
                    <input class="form-control form-control-merge" id="login-password" :type="inputTypeIcon"
                      name="login-password" placeholder="············" aria-describedby="login-password" tabindex="2"
                      v-model="password">
                    <button class="input-group-text" @click.prevent="ToggleInputIcon">
                      <span v-if="inputTypeIcon == 'password'">
                        <i class="fa-solid fa-eye"></i>
                      </span>
                      <span v-else>
                        <i class="fa-solid fa-eye-slash"></i>
                      </span>
                    </button>
                  </div>
                </div>
                <div v-text="erorMessage" class="text-danger"></div>
                <div class="mb-1">
                  <div class="form-check">
                    <input class="form-check-input" id="remember-me" type="checkbox" tabindex="3">
                    <label style="font-size: 10pt;" class="form-check-label" for="remember-me"> {{ $t("message.remember") }}</label>
                  </div>
                </div>
                <button class="btn btn-primary w-100 waves-effect waves-float waves-light" type="button"
                  @click.prevent="login" tabindex="4">{{ $t("message.sigin") }}</button>
              </form>
              <div class="row justify-content-md-center">
                <p style="font-size: 11pt;" class="text-center mt-2"><span>{{ $t("message.platform") }} </span>
                  <a @click="registerReload" href="#">
                    <span>&nbsp;{{ $t("message.create") }}</span></a>
                </p>
                <a @click="homeReload" class="btn btn-outline-primary waves-effect router-link-active"
                  type="button"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-home me-25">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                  </svg> <span>{{ $t("message.home") }}</span></a>
              </div>
            </div>
          </div>
          <!-- /Login-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueSweetalert2 from 'vue-sweetalert2'
import {
  useVuelidate
} from '@vuelidate/core'
import environtment from '../environtment/index'
import router from '../router/index'
import VueSimpleAlert from 'vue-simple-alert'
// import {required, email, minLength, helpers} from '@vuelidate/validators'

Vue.use(VueSweetalert2)
Vue.use(VueSimpleAlert)
Vue.use(axios)
export default {
  name: 'loginKandidat',
  setup () {
    return {
      v$: useVuelidate()
    }
  },
  data () {
    return {
      id: '',
      email: '',
      password: '',
      erorMessage: '',
      inputTypeIcon: 'password',
      showPassword: 'Show Password',
      hidePassword: 'Hide Password'
    }
  },
  validations () {
    return {

    }
  },
  mounted () {

  },
  methods: {
    login () {
      axios.post(environtment.apiUrl + '/api/candidate/logincandidate', {
        email: this.email,
        password: this.password
      }).then(response => {
        console.log(response)
        // eslint-disable-next-line eqeqeq
        if (response.data.data[0].email && response.data.data[0].status == 'active') {
          this.$fire({
            title: 'Congratulation!',
            text: 'Login Success',
            type: 'success',
            timer: 3000,
            showConfirmButton: false
          }).then(r => {
            router.push({ path: '/' }).then(router.go())
          })
          sessionStorage.setItem('kandidatLogin', JSON.stringify(response.data.data[0]))
          sessionStorage.setItem('file_cv', JSON.stringify(response.data.data[0].cv))
          sessionStorage.setItem('file_bpjs_kerja', JSON.stringify(response.data.data[0].file_bpjs_kerja))
          sessionStorage.setItem('file_bpjs_sehat', JSON.stringify(response.data.data[0].file_bpjs_sehat))
          sessionStorage.setItem('file_rekening', JSON.stringify(response.data.data[0].file_rekening))
          sessionStorage.setItem('file_npwp', JSON.stringify(response.data.data[0].file_npwp))
          sessionStorage.setItem('file_kk', JSON.stringify(response.data.data[0].file_kk))
          sessionStorage.setItem('file_ktp', JSON.stringify(response.data.data[0].file_ktp))
        // eslint-disable-next-line eqeqeq
        } else if (response.data.data[0].status == 'notActive') {
          this.$swal({
            icon: 'error',
            title: 'Login Failed!',
            text: 'Please Verify Account!'
          })
          this.$router.push({path: 'verifemail/' + JSON.stringify(response.data.data[0].id)}).then(this.$router.go())
        } else {
          this.$swal({
            icon: 'error',
            title: 'Login Failed!',
            text: 'Email or Password Are Wrong!'
          })
        }
      })
    },
    data () {
      return {
        id: '',

        password: '',
        erorMessage: '',
        inputTypeIcon: 'password',
        showPassword: 'Show Password',
        hidePassword: 'Hide Password'
      }
    },
    homeReload () {
      this.$router.push({path: '/'}).then(this.$router.go())
    },
    forgotload () {
      this.$router.push({
        path: '/forgotpassword'
      }).then(this.$router.go())
    },
    registerReload () {
      this.$router.push({path: '/register'}).then(this.$router.go())
    },
    ToggleInputIcon () {
      this.inputTypeIcon = this.inputTypeIcon === 'password' ? 'text' : 'password'
    }
  }}
</script>

<style>
  .preview-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
  }
</style>
