<!-- eslint-disable eqeqeq -->
<!-- eslint-disable eqeqeq -->
<!-- eslint-disable no-multiple-empty-lines -->
<!-- eslint-disable no-trailing-spaces -->

<template>
  <div>
    <div style="margin-top:-20px; margin-bottom:20px">
      <a @click="homeReload" type="button" class="btn btn-outline-primary waves-effect d-none d-md-inline">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-home me-25">
          <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
          <polyline points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        <span> {{ $t("message.home") }}</span>
      </a>
      <button @click="homeReload" type="button" class="btn btn-icon btn-icon rounded-circle btn-flat-primary waves-effect d-md-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-home me-25">
        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
    </button>
      <h1 style="text-align: center;"> {{ $t("message.signup") }}</h1>
    </div>
    <div class="auth-wrapper auth-basic">
      <div class="auth-inner">
        <div class="row justify-content-md-center">
          <div class="col-md-7 col-12">
            <div class="card">
              <div class="card-body">
                <form class="needs-validation" novalidate enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-12" align="center">
                      <div class="mb-3">
                        <label for="file-field" style="margin-top: 20px;">
                          <img v-bind:src="kandidat.pict" class="preview-image" alt="" width="40px" height="auto">
                        </label>
                        <input type="file" name="image" id="file-field" v-on:change="updatePreview" style="display: none;">
                        <p style="text-align: center;">{{ $t("message.image") }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="first-name-icon">{{ $t("message.full_name1") }}</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-user">
                              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                              <circle cx="12" cy="7" r="4"></circle>
                            </svg></span>
                          <input type="text" id="first-name-icon" class="form-control" name="fname-icon"
                            :placeholder="$t('message.enter_name')" v-model="v$.kandidat.full_name.$model"
                            @blur="v$.kandidat.full_name.$commit">
                        </div>
                        <p style="font-size: 9pt;" class="text-danger" v-for="error of v$.kandidat.full_name.$errors" :key="error.$uid">
                          {{ $t("message.full_name2") }}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="contact-info-icon">{{ $t("message.telpon") }}</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-smartphone">
                              <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
                              <line x1="12" y1="18" x2="12.01" y2="18"></line>
                            </svg></span>
                          <input type="number" id="contact-info-icon" class="form-control" name="contact-icon"
                            :placeholder="$t('message.enter_telpon')" v-model="v$.kandidat.phone_number.$model"
                            @blur="v$.kandidat.phone_number.$commit">
                        </div>
                        <p style="font-size: 9pt;" class="text-danger" v-for="error of v$.kandidat.phone_number.$errors" :key="error.$uid">
                          {{ error.$message }}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="email-id-icon">{{ $t("message.email") }}</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-mail">
                              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                              <polyline points="22,6 12,13 2,6"></polyline>
                            </svg>
                          </span>
                          <input type="email" id="email-id-icon" class="form-control" name="email-id-icon"
                            :placeholder="$t('message.enter_email')" v-model="v$.kandidat.email.$model" @blur="v$.kandidat.email.$commit"
                            @keyup="checkEmail">
                          <!-- <button class="btn btn-outline-primary waves-effect" id="button-addon2" type="button" @click.prevent="checkEmail">Check</button>                     -->
                        </div>
                        <p style="font-size: 9pt;" class="text-danger" v-for="error of v$.kandidat.email.$errors" :key="error.$uid">
                          {{ error.$message }}
                        </p>
                        <p style="font-size: 9pt;" class="text-success" v-if="emailIsUnique == true && !v$.kandidat.email.$invalid">{{ $t("message.validemail1") }}</p>
                        <p style="font-size: 9pt;" class="text-danger" v-else-if="emailIsUnique == false && !v$.kandidat.email.$invalid">{{ $t("message.validemail2") }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="no_ktp">{{ $t("message.ktp") }}</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="15" height="15"
                              viewBox="0 0 32 32" version="1.1">
                              <title>id-card</title>
                              <path
                                d="M28 5.25h-24c-1.518 0.002-2.748 1.232-2.75 2.75v16c0.002 1.518 1.232 2.748 2.75 2.75h24c1.518-0.002 2.748-1.232 2.75-2.75v-16c-0.002-1.518-1.232-2.748-2.75-2.75h-0zM4 6.75h24c0.69 0.001 1.249 0.56 1.25 1.25v1.25h-26.5v-1.25c0.001-0.69 0.56-1.249 1.25-1.25h0zM28 25.25h-24c-0.69-0.001-1.249-0.56-1.25-1.25v-13.25h26.5v13.25c-0.001 0.69-0.56 1.249-1.25 1.25h-0zM9.645 17.628c1.455 0 2.635-1.18 2.635-2.635s-1.18-2.635-2.635-2.635c-1.455 0-2.635 1.18-2.635 2.635v0c0.001 1.455 1.18 2.633 2.635 2.635h0zM9.645 13.858c0.627 0 1.135 0.508 1.135 1.135s-0.508 1.135-1.135 1.135c-0.627 0-1.135-0.508-1.135-1.135 0 0 0 0 0 0v0c0.001-0.627 0.508-1.134 1.135-1.135h0zM9.645 18.811c-2.15 0.009-3.947 1.51-4.41 3.52l-0.006 0.031c-0.011 0.048-0.017 0.103-0.017 0.16 0 0.414 0.336 0.75 0.75 0.75 0.357 0 0.656-0.25 0.731-0.585l0.001-0.005c0.309-1.366 1.512-2.371 2.951-2.371s2.642 1.005 2.947 2.351l0.004 0.020c0.077 0.338 0.375 0.587 0.732 0.587 0.414 0 0.75-0.336 0.75-0.75 0-0.056-0.006-0.11-0.018-0.163l0.001 0.005c-0.469-2.041-2.265-3.541-4.414-3.551h-0.001zM26 13.25h-8c-0.414 0-0.75 0.336-0.75 0.75s0.336 0.75 0.75 0.75v0h8c0.414 0 0.75-0.336 0.75-0.75s-0.336-0.75-0.75-0.75v0zM26 17.25h-8c-0.414 0-0.75 0.336-0.75 0.75s0.336 0.75 0.75 0.75v0h8c0.414 0 0.75-0.336 0.75-0.75s-0.336-0.75-0.75-0.75v0zM26 21.25h-8c-0.414 0-0.75 0.336-0.75 0.75s0.336 0.75 0.75 0.75v0h8c0.414 0 0.75-0.336 0.75-0.75s-0.336-0.75-0.75-0.75v0z" />
                            </svg>
                          </span>
                          <input type="number" id="no_ktp" class="form-control" name="no_ktp"   :placeholder="$t('message.enter_ktp')"
                            v-model="v$.kandidat.no_ktp.$model" @blur="v$.kandidat.no_ktp.$commit" @keyup="checkKTP">
                          <!-- <button class="btn btn-outline-primary waves-effect" id="button-addon2" type="button" @click.prevent="checkKTP">Check</button>-->
                        </div>
                        <p style="font-size: 9pt;" class="text-danger" v-for="error of v$.kandidat.no_ktp.$errors" :key="error.$uid">
                          {{ error.$message }}
                        </p>
                        <p style="font-size: 9pt;" class="text-success" v-if="ktpIsUnique == true && !v$.kandidat.no_ktp.$invalid" >{{ $t("message.ktp1") }}</p>
                        <p style="font-size: 9pt;" class="text-danger" v-else-if="ktpIsUnique == false && !v$.kandidat.no_ktp.$invalid">{{ $t("message.ktp2") }}</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="password-icon">{{ $t("message.password") }}</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-lock">
                              <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                              <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg></span>
                          <input :type="inputTypeIcon" id="password-icon" class="form-control" name="contact-icon"
                             :placeholder="$t('message.password')" v-model="v$.kandidat.password.$model"
                            @blur="v$.kandidat.password.$commit" @keydown="passwordType" @keyup="passwordType" @keypress="passwordType">
                          <button class="input-group-text" @click.prevent="ToggleInputIcon">
                            <span v-if="inputTypeIcon == 'password'">
                              <i class="fa-solid fa-eye"></i>
                            </span>
                            <span v-else>
                              <i class="fa-solid fa-eye-slash"></i>
                            </span>
                          </button>
                        </div>
                        <p style="font-size: 9pt;" class="text-danger" v-for="error of v$.kandidat.password.$errors" :key="error.$uid">
                          {{ error.$message }}
                        </p>
                        <p style="font-size: 9pt;" class="text-danger" v-if="testPassword == false && !v$.kandidat.password.$invalid">Password must include at least 1 symbol and number</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="password-confirm">{{ $t("message.password1") }}</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-lock">
                              <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                              <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg></span>
                          <input :type="inputTypeIcon2" id="password-confirm" class="form-control" name="contact-icon"
                            :placeholder="$t('message.password1')" v-model="v$.kandidat.confirmPassword.$model"
                            @blur="v$.kandidat.confirmPassword.$commit">
                          <button class="input-group-text" @click.prevent="ToggleInputIcon2">
                            <span v-if="inputTypeIcon2 == 'password'">
                              <i class="fa-solid fa-eye"></i>
                            </span>
                            <span v-else>
                              <i class="fa-solid fa-eye-slash"></i>
                            </span>
                          </button>
                        </div>
                        <p style="font-size: 9pt;" class="text-danger" v-for="error of v$.kandidat.confirmPassword.$errors" :key="error.$uid">
                          {{ error.$message }}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-1">
                        <label class="form-label" for="fp-default">{{ $t("message.date") }}</label>
                        <input class="form-control flatpickr-basic flatpickr-input flatpickr-mobile dt" tabindex="1"
                          type="date"   :placeholder="$t('message.date')" v-model="kandidat.birth_date">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-1">
                        <label class="form-label">{{ $t("message.gender") }} :</label>
                        <div class="form-check my-50">
                          <input type="radio" id="validationRadio3" name="validationRadioBootstrap" class="form-check-input"
                            required="" v-model="kandidat.gender" value="Male">
                          <label class="form-check-label" for="validationRadio3">{{ $t("message.male") }}</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" id="validationRadio4" name="validationRadioBootstrap" class="form-check-input"
                            required="" v-model="kandidat.gender" value="Female">
                          <label class="form-check-label" for="validationRadio4">{{ $t("message.female") }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="marital_status">{{ $t("message.status") }}</label>
                        <select class="form-select slc" id="marital_status" v-model="kandidat.marital_status">
                          <option selected>Marital Status</option>
                          <option v-for="(dataMarital, idx) in marital_data" :key="idx" :value="dataMarital.nilai">
                            {{ dataMarital.nilai }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="religion">{{ $t("message.religion") }}</label>
                        <select class="form-select slc" id="religion" v-model="kandidat.religion">
                          <option selected>Religion</option>
                          <option v-for="(dataAgama, idx) in religion_data" :key="idx" :value="dataAgama.nilai">
                            {{ dataAgama.nilai }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="kotaasal">City/Regency</label>
                        <input class="form-control" tabindex="1"
                          type="text" placeholder="City/Regency" v-model="kandidat.kota_kabupaten">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="provinsi">Province</label>
                        <input class="form-control" tabindex="1"
                          type="text" placeholder="Province" v-model="kandidat.provinsi">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-1">
                        <label class="form-label" for="provinsi">Domicile Address</label>
                        <textarea class="form-control" tabindex="1"
                          type="text" placeholder="Domicile Address" v-model="kandidat.alamat"></textarea>
                      </div>
                    </div>
                    <hr class="mb-2 mt-2">
                    <p class="hdua" style="margin-bottom: 10px;"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000"
                        width="25px" height="25px" viewBox="0 0 14 14" role="img" focusable="false" aria-hidden="true">
                        <path
                          d="m 12.499079,12.25525 c 0.0968,0 0.188377,-0.0436 0.249339,-0.11884 0.06096,-0.0752 0.08473,-0.17385 0.06473,-0.26853 l -0.202146,-0.95662 c 0.115125,-0.11137 0.187491,-0.26686 0.187491,-0.43975 0,-0.182 -0.08106,-0.34343 -0.206876,-0.45558 l 0,-3.32202 -0.810333,0.50146 0,2.82056 c -0.125815,0.11215 -0.2069,0.27358 -0.2069,0.45558 0,0.17291 0.07239,0.32841 0.187515,0.43975 l -0.20217,0.95662 c -0.02,0.0947 0.0038,0.19335 0.06473,0.26853 0.06096,0.0752 0.152539,0.11884 0.249339,0.11884 l 0.625281,0 z M 12.773741,4.75539 7.5021019,1.49209 C 7.3477151,1.39699 7.1736728,1.34925 6.9996305,1.34925 c -0.1740423,0 -0.3482077,0.0477 -0.5016586,0.14284 l -5.271713,3.2633 C 1.0854931,4.84249 0.99999905,4.99633 0.99999905,5.1619 c 0,0.1656 0.085494,0.31949 0.22625985,0.40673 l 5.2716883,3.26333 c 0.153451,0.0952 0.3276163,0.14284 0.5016586,0.14284 0.1740423,0 0.3481092,-0.0477 0.5024714,-0.14284 L 12.773741,5.56863 c 0.140766,-0.0872 0.22626,-0.24113 0.22626,-0.40673 0,-0.16557 -0.08549,-0.31946 -0.22626,-0.40651 z M 6.9996059,9.78508 c -0.3283798,0 -0.6488777,-0.0912 -0.928242,-0.26411 l -3.0750017,-1.90368 0,3.27796 c 0,0.97016 1.7931578,1.7555 4.0032436,1.7555 2.2108742,0 4.0038842,-0.78536 4.0038842,-1.7555 l 0,-3.27796 -3.0748786,1.90368 C 7.6492472,9.69388 7.3279857,9.78508 6.9996059,9.78508 Z" />
                        </svg> {{ $t("message.edu") }}</p>
                    <div class="col-12">
                      <div class="mb-1">
                        <label class="form-label" for="latest_education">{{ $t("message.edu") }}</label>
                        <select class="form-select slc" id="latest_education" v-model="kandidat.education">
                          <option selected>Latest Education</option>
                          <option v-for="(dataEducation, idx) in education_data" :key="idx" :value="dataEducation.id">
                            {{ dataEducation.description }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
    
                  <!-- IF Education == Null -->
                  <div class="row" v-if="kandidat.education == 'Latest Education'">
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="instituion">{{ $t("message.institution") }}</label>
                        <input type="text" id="instituion" class="form-control" name="" :placeholder="$t('message.edu2')"
                          v-model="kandidat.institution" :disabled="true">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="major">{{ $t("message.major") }}</label>
                        <input type="text" id="major" class="form-control" name="major" :placeholder="$t('message.enter_major')"
                          v-model="kandidat.major" :disabled="true">
                      </div>
                    </div>
                    <div class="col-md-6 mt-1">
                      <label class="form-label" for="">GPA</label>
                      <div class="input-group mb-1">
                        <input type="text" class="form-control" :placeholder="$t('message.gpa')" aria-label="Recipient's username"
                          aria-describedby="basic-addon2" v-model="kandidat.score" :disabled="true">
                        <span class="input-group-text" id="basic-addon2">{{ $t("message.example") }}</span>
                      </div>
                    </div>
                    <div class="col-md-6 mt-1">
                      <label class="form-label" for="">Year of Graduate</label>
                      <div class="mb-1">
                        <input type="text" id="graduate" class="form-control" name="graduate" placeholder="Year of graduate"
                          v-model="year_graduate" :disabled="true">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mt-1 mb-2">
                        <div class="form-check" style="float: right;">
                          <input type="checkbox" class="form-check-input" id="is_abroad" v-model="kandidat.is_abroad"
                            :disabled="true">
                          <label style="font-size: 11pt;" class="form-check-label" for="is_abroad">{{ $t("message.aboard") }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Education != Null -->
                  <div class="row" v-else>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="instituion">{{ $t("message.institution") }}</label>
                        <input type="text" id="instituion" class="form-control" name="" :placeholder="$t('message.edu2')"
                          v-model="kandidat.institution">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="major">{{ $t("message.major") }}</label>
                        <input type="text" id="major" class="form-control" name="major" :placeholder="$t('message.enter_major')"
                          v-model="kandidat.major">
                      </div>
                    </div>
                    <div class="col-md-6 mt-1">
                      <label class="form-label" for="">GPA</label>
                      <div class="input-group mb-1">
                        <input type="text" class="form-control" :placeholder="$t('message.gpa')" aria-label="Recipient's username"
                          aria-describedby="basic-addon2" v-model="kandidat.score">
                        <span class="input-group-text" id="basic-addon2">{{ $t("message.example") }}</span>
                      </div>
                    </div>
                    <div class="col-md-6 mt-1">
                      <label class="form-label" for="">Year of Graduate</label>
                      <div class="mb-1">
                        <input type="text" id="graduate" class="form-control" name="graduate" placeholder="Year of graduate"
                          v-model="year_graduate">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-1 mt-1">
                        <div class="form-check" style="float: right;">
                          <input type="checkbox" class="form-check-input" id="is_abroad" v-model="kandidat.is_abroad">
                          <label style="font-size: 11pt;" class="form-check-label" for="is_abroad">{{ $t("message.aboard") }}</label>
                        </div>
                      </div>
                    </div>
                    <hr class="mb-2 mt-2">
                    <p class="hdua mb-2" style="margin-bottom: 10px;"><svg xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" width="20px" height="20px"
                        viewBox="0 0 512 512" id="_x30_1" version="1.1" xml:space="preserve">
                        <path
                          d="M452,120h-76C376,53.726,322.274,0,256,0h0c-66.274,0-120,53.726-120,120H60c-33.137,0-60,26.863-60,60v272  c0,33.137,26.863,60,60,60h392c33.137,0,60-26.863,60-60V180C512,146.863,485.137,120,452,120z M256,60c33.137,0,60,26.863,60,60  H196C196,86.863,222.863,60,256,60z M402,260v20c0,16.569-13.431,30-30,30h0c-16.569,0-30-13.431-30-30v-20H170v20  c0,16.569-13.431,30-30,30h0c-16.569,0-30-13.431-30-30v-20c-16.569,0-30-13.431-30-30s13.431-30,30-30h292  c16.569,0,30,13.431,30,30S418.569,260,402,260z" />
                        </svg>{{ $t("message.lates_job") }} </p>
                  </div>
    
                  <div class="row">
                    <hr class="mb-2 mt-2">
                    <p class="hdua" style="margin-bottom: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="25px"
                        height="30px" viewBox="0 0 1024 1024" fill="#000000" class="icon" version="1.1">
                        <path
                          d="M640 384V128c0-70.688-57.312-128-128-128H128C57.312 0 0 57.312 0 128v896h1024V576l-384-192zM192 800c0 17.688-14.312 32-32 32H96c-17.688 0-32-14.312-32-32v-64c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m0-192c0 17.688-14.312 32-32 32H96c-17.688 0-32-14.312-32-32v-64c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m0-192c0 17.688-14.312 32-32 32H96c-17.688 0-32-14.312-32-32v-64c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m0-192c0 17.688-14.312 32-32 32H96c-17.688 0-32-14.312-32-32V160c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m192 576c0 17.688-14.312 32-32 32h-64c-17.688 0-32-14.312-32-32v-64c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m0-192c0 17.688-14.312 32-32 32h-64c-17.688 0-32-14.312-32-32v-64c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m0-192c0 17.688-14.312 32-32 32h-64c-17.688 0-32-14.312-32-32v-64c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m0-192c0 17.688-14.312 32-32 32h-64c-17.688 0-32-14.312-32-32V160c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m192 576c0 17.688-14.312 32-32 32h-64c-17.688 0-32-14.312-32-32v-64c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m0-192c0 17.688-14.312 32-32 32h-64c-17.688 0-32-14.312-32-32v-64c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m0-192c0 17.688-14.312 32-32 32h-64c-17.688 0-32-14.312-32-32v-64c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m0-192c0 17.688-14.312 32-32 32h-64c-17.688 0-32-14.312-32-32V160c0-17.688 14.312-32 32-32h64c17.688 0 32 14.312 32 32v64z m320 736h-192V736c0-53 43-96 96-96s96 43 96 96v224z" />
                        </svg> {{ $t("message.experience_job") }}</p>
                    <div class="col-12 mt-2">
                      <div class="mb-1">
                        <label class="form-label" for="expected_salary">{{ $t("message.expected_salary") }}</label>
                        <input type="number" id="expected_salary" class="form-control" name=""  :placeholder="$t('message.enter_expected_salary')"
                          v-model="kandidat.expected_salary">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="job_function">{{ $t("message.prefered_job") }}</label>
                        <select class="form-select slc" id="job_function" v-model="kandidat.job_function">
                          <option selected>Preferred Job Function</option>
                          <option v-for="(dataJobFunction, idx) in jobFunction_data" :key="idx" :value="dataJobFunction.id">
                            {{ dataJobFunction.description }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="preferred_dity">{{ $t("message.prefered_city") }}</label>
                        <select class="form-select slc" id="preferred_dity" v-model="kandidat.city">
                          <option selected>Preferred City</option>
                          <option v-for="(dataCity, idx) in city_data" :key="idx" :value="dataCity.nilai">
                            {{ dataCity.nilai }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-1 mt-1">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="is_fresh_graduate"
                            v-model="kandidat.is_fresh_graduate">
                          <label class="form-check-label" for="is_fresh_graduate" style="font-weight:bold; font-size:10pt">{{ $t("message.fresh_graduate") }}
                           </label>
                        </div>
                      </div>
                    </div>
                    <a v-if="kandidat.is_fresh_graduate == false" @click.prevent="add_experience" class="text-primary mt-1 mb-1"><i
                        class="fa-solid fa-circle-plus"></i>{{ $t("message.add_experiece_company") }}</a>
                  </div>
                  <div v-if="kandidat.is_fresh_graduate == false" class="row" v-for="(experience, index) in experiences" :key="index">
                    <div v-if="experiences.length !=1" class="col-md-12" >
                      <div class="mb-2" style="float: right;margin-right:10px">
                        <button @click.prevent="remove_experience(index)" type="button" class="btn btn-icon btn-danger waves-effect waves-float waves-light">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                      </button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="company_name">{{ $t("message.company_name") }}</label>
                        <input type="text" id="company_name" class="form-control" name="company_name"
                          :placeholder="$t('message.enter_company_name')" v-model="experience.experience_company">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="company_position">{{ $t("message.position") }}</label>
                        <input type="text" id="company_position" class="form-control" name="company_position"
                           :placeholder="$t('message.enter_position1')" v-model="experience.experience_position">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="experience_business_line">{{ $t("message.business_line") }}</label>
                        <select class="form-select slc" id="experience_business_line"
                          v-model="experience.experience_business_line">
                          <option selected>Business Line (Industry)</option>
                          <option v-for="(dataBusinesLine, idx) in businessLine_data" :key="idx"
                            :value="dataBusinesLine.nilai">
                            {{ dataBusinesLine.nilai }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="salary">{{ $t("message.salary") }}</label>
                        <input type="text" id="salary" class="form-control" name="salary"
                           :placeholder="$t('message.enter_gross_salary')" v-model="experience.experience_salary">
                      </div>
                    </div>
                    <div class="col-md-6">  
                      <div class="mb-1">
                        <label class="form-label" for="fp-default">{{ $t("message.school_date_Start") }}</label>
                        <input class="form-control flatpickr-basic flatpickr-input flatpickr-mobile dt" tabindex="1"
                          type="date"  :placeholder="$t('message.date')" value="0000-00-00"
                          v-model="experience.experience_start_date">
                      </div>
                    </div>
                    <div v-if="experience.is_currently_working == false" class="col-md-6">
                      <div class="mb-1">
                        <label  class="form-label" for="fp-default">{{ $t("message.school_date_end") }}</label>
                        <input class="form-control flatpickr-basic flatpickr-input flatpickr-mobile dt" tabindex="1"
                          type="date"  :placeholder="$t('message.date')" value="0000-00-00" v-model="experience.experience_end_date">
                      </div>
                    </div>
                    <div v-else class="col-md-6 ">
                      <div class="mb-1">
                        <label class="form-label" for="fp-default">{{ $t("message.school_date_end") }}</label>
                        <input class="form-control flatpickr-basic flatpickr-input flatpickr-mobile dt" tabindex="1"
                          type="date"  :placeholder="$t('message.date')" value="0000-00-00" v-model="experience.experience_end_date"
                          :disabled="true">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-1">
                        <label class="form-label" for="jobLevel">{{ $t("message.job_level") }}</label>
                        <select class="form-select slc" id="jobLevel" v-model="experience.experience_job_level">
                          <option selected>Job Level</option>
                          <option v-for="(dataJobLevel, idx) in jobLevel_data" :key="idx" :value="dataJobLevel.id">
                            {{ dataJobLevel.level_description }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12 ">
                      <div class="mb-1">
                        <label class="form-label" for="exp_desc">{{ $t("message.description") }}</label>
                      <textarea class="form-control" id="exp_desc" rows="3"   :placeholder="$t('message.description1')"  v-model="experience.experience_description"></textarea>
                      </div>
                    </div>
                    <div class="col-12 mb-1">
                      <div class="mt-1">
                        <div class="form-check" style="float: right;">
                          <input type="checkbox" class="form-check-input" id="is_currently"
                            v-model="experience.is_currently_working" false-value=0 true-value=1>
                          <label style="font-size: 10pt;" class="form-check-label" for="is_currently">{{ $t("message.current_working") }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="kandidat.is_fresh_graduate == true" class="row" v-for="(experience, index) in experiences" :key="index">
                    <div v-if="experiences.length !=1" class="col-md-12" >
                      <div class="mb-2" style="float: right;margin-right:10px">
                        <button @click.prevent="remove_experience(index)" type="button" class="btn btn-icon btn-danger waves-effect waves-float waves-light">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                      </button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="company_name">{{ $t("message.company_name") }}</label>
                        <input type="text" id="company_name" class="form-control" name="company_name"
                          :placeholder="$t('message.enter_company_name')" v-model="experience.experience_company" :disabled="true">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="company_position">{{ $t("message.position") }}</label>
                        <input type="text" id="company_position" class="form-control" name="company_position"
                           :placeholder="$t('message.enter_position1')" v-model="experience.experience_position" :disabled="true">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="experience_business_line">{{ $t("message.business_line") }}</label>
                        <select :disabled="true" class="form-select slc" id="experience_business_line"
                          v-model="experience.experience_business_line">
                          <option selected>Business Line (Industry)</option>
                          <option v-for="(dataBusinesLine, idx) in businessLine_data" :key="idx"
                            :value="dataBusinesLine.nilai">
                            {{ dataBusinesLine.nilai }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="salary">{{ $t("message.salary") }}</label>
                        <input :disabled="true" type="text" id="salary" class="form-control" name="salary"
                           :placeholder="$t('message.enter_gross_salary')" v-model="experience.experience_salary">
                      </div>
                    </div>
                    <div class="col-md-6">  
                      <div class="mb-1">
                        <label class="form-label" for="fp-default">{{ $t("message.school_date_Start") }}</label>
                        <input :disabled="true" class="form-control flatpickr-basic flatpickr-input flatpickr-mobile dt" tabindex="1"
                          type="date"  :placeholder="$t('message.date')" value="0000-00-00"
                          v-model="experience.experience_start_date">
                      </div>
                    </div>
                    <div  v-if="experience.is_currently_working == false" class="col-md-6">
                      <div class="mb-1">
                        <label  class="form-label" for="fp-default">{{ $t("message.school_date_end") }}</label>
                        <input :disabled="true" class="form-control flatpickr-basic flatpickr-input flatpickr-mobile dt" tabindex="1"
                          type="date"  :placeholder="$t('message.date')" value="0000-00-00" v-model="experience.experience_end_date">
                      </div>
                    </div>
                    <div v-else class="col-md-6 ">
                      <div class="mb-1">
                        <label class="form-label" for="fp-default">{{ $t("message.school_date_end") }}</label>
                        <input  class="form-control flatpickr-basic flatpickr-input flatpickr-mobile dt" tabindex="1"
                          type="date"  :placeholder="$t('message.date')" value="0000-00-00" v-model="experience.experience_end_date"
                          :disabled="true">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-1">
                        <label class="form-label" for="jobLevel">{{ $t("message.job_level") }}</label>
                        <select :disabled="true" class="form-select slc" id="jobLevel" v-model="kandidat.job_level">
                          <option selected>Job Level</option>
                          <option v-for="(dataJobLevel, idx) in jobLevel_data" :key="idx" :value="dataJobLevel.id">
                            {{ dataJobLevel.level_description }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12 ">
                      <div class="mb-1">
                        <label class="form-label" for="exp_desc">{{ $t("message.description") }}</label>
                      <textarea :disabled="true" class="form-control" id="exp_desc" rows="3"   :placeholder="$t('message.description1')"  v-model="experience.experience_description"></textarea>
                      </div>
                    </div>
                    <div class="col-12 mb-1">
                      <div class="mt-1">
                        <div class="form-check" style="float: right;">
                          <input :disabled="true" type="checkbox" class="form-check-input" id="is_currently"
                            v-model="experience.is_currently_working" false-value=0 true-value=1>
                          <label style="font-size: 10pt;" class="form-check-label" for="is_currently">{{ $t("message.current_working") }}</label>
                        </div>
                      </div>
                    </div>
                    <hr class="mb-2 mt-2">
                  </div>
                  <div class="row">
                    <hr class="mb-2 mt-2">
                    <p class="hdua" style="margin-bottom: 10px;"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000"
                        width="40px" height="40px" viewBox="0 0 100 100" xml:space="preserve" transform="rotate(0)"
                        stroke="#000000">
    
                        <g id="SVGRepo_bgCarrier" stroke-width="0" />
    
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
    
                        <g id="SVGRepo_iconCarrier">
                          <g>
                            <path
                              d="M77.3,55.7L70,44.9l0-0.9c0-13.2-10.8-24-24-24c-1.9,0-3.8,0.2-5.7,0.7C29.7,23.1,22,32.9,22,44 c0,4.9,1.2,9.3,3.6,12.7c4.2,6,7,10.8,5.3,17.3c-0.4,1.5-0.1,3,0.9,4.2c0.9,1.2,2.2,1.8,3.7,1.8h19.7c2.3,0,4.3-1.6,4.7-3.8 c0.1-0.4,0.2-0.8,0.2-1.2c0.2-1.2,1.2-2,2.4-2h1.4c2.2,0,4.1-1.3,4.7-3.4c0.6-2.3,1.4-5.6,1.5-9.6h5.2c0.9,0,1.8-0.8,2.2-1.6 C77.9,57.6,77.8,56.3,77.3,55.7z M61.4,42c-0.8,1.3-2.4,2-4.7,2c-12.3,0-13.2,9-13.2,13.3c0,2-1.6,3.7-3.6,3.7h-0.3 c-1.7,0-3.1-1.2-3.5-2.9c-0.4-1.8-1.6-2.8-2.8-3.7c-0.8-0.6-1.6-1.2-2-2.1c-1.1-2.3-2.2-5-2.2-8.4c0-7.8,5.4-14.6,12.7-16.3 c1.4-0.3,2.7-0.5,4.1-0.5c6.8,0,12.9,4.1,15.5,10.3C61.5,37.7,62.6,40.1,61.4,42z" />
                          </g>
                        </g>
    
                      </svg>{{ $t("message.skill") }}</p>
                    <a @click.prevent="add_skill" class="text-primary mt-1 mb-1"><i class="fa-solid fa-circle-plus"></i>
                      {{ $t("message.add_skill") }}</a>
                  </div>
                  <div v-for="(skill, indexSkill) in skills" class="row" :key="indexSkill">
                    <div v-if="skills.length !=1" class="col-md-12" >
                      <div class="mb-1" style="float: right;margin-right:10px">
                        <button @click.prevent="remove_skill(indexSkill)" type="button" class="btn btn-icon btn-danger waves-effect waves-float waves-light">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                      </button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label for="skill" class="form-label"> {{ $t("message.skill") }}</label>
                        <input type="text" id="skill" name="skill"  :placeholder="$t('message.enter_skill')"  class="form-control"
                          v-model="skill.skill">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="skill_level"> {{ $t("message.skill_rate") }}</label>
                        <select class="form-select slc" id="skill_level" v-model="skill.skill_rate">
                          <option selected> {{ $t("message.skill_rate") }}</option>
                          <option v-for="(dataSkillLevel, idx) in skillLevel_data" :key="idx" :value="dataSkillLevel.nilai">
                            {{ dataSkillLevel.nilai }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <hr class="mb-2 mt-2">
                    <p class="hdua" style="margin-bottom: 10px;"><svg xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" id="Capa_1" width="30px"
                        height="30px" viewBox="0 0 76.609 76.609" xml:space="preserve">
                        <g>
                          <g>
                            <path
                              d="M57.455,16.575c0,1.12,1.121,2.24,2.688,2.24c2.239,0,2.911-0.896,2.911-2.24c0-0.224,0-0.224,0-0.447    c-0.223-0.672-0.896-1.12-1.566-1.568c-0.225,0-0.672-0.224-1.119-0.224C58.799,14.337,57.455,15.232,57.455,16.575z" />
                            <path
                              d="M62.16,9.183c-0.226-1.344-1.121-2.464-2.24-2.464c-1.121,0-1.793,1.12-1.567,2.464c0.226,1.344,1.119,2.464,2.239,2.464    C61.488,11.647,62.383,10.527,62.16,9.183z" />
                            <path
                              d="M52.08,25.983l3.808-3.808c2.239,1.792,4.93,2.912,7.841,2.912c6.943,0,12.544-5.601,12.544-12.544    C76.271,5.599,70.672,0,63.728,0c-6.942,0-12.544,5.6-12.544,12.544c0,3.136,1.119,5.823,2.912,7.84l-3.809,3.809    C50.959,24.864,51.631,25.537,52.08,25.983z M65.744,8.511h2.463V6.048h0.896v2.464h2.465v0.896h-2.465v2.465h-0.896V9.407h-2.463    V8.511L65.744,8.511z M60.144,12.767c0-0.224,0-0.448,0.226-0.672c-0.226,0-0.226,0-0.447,0c-1.793,0-3.137-1.344-3.137-2.912    s1.791-2.912,3.584-2.912H64.4l-0.896,0.672H62.16c0.896,0.225,1.344,1.345,1.344,2.464c0,0.896-0.448,1.568-1.121,2.24    c-0.672,0.448-0.896,0.672-0.896,1.12c0,0.448,0.673,1.12,1.12,1.344c1.119,0.672,1.344,1.568,1.344,2.688    c0,1.567-1.344,2.912-4.031,2.912c-2.239,0-4.256-0.896-4.256-2.464s1.791-2.912,4.031-2.912c0.225,0,0.447,0,0.672,0    C60.367,13.664,60.144,13.216,60.144,12.767z" />
                            <path
                              d="M63.728,51.52c-2.911,0-5.823,1.119-7.841,2.912l-3.807-3.809c-0.449,0.672-1.121,1.118-1.568,1.566l3.809,3.809    c-1.792,2.238-2.912,4.929-2.912,7.841c0,6.943,5.602,12.544,12.545,12.544c6.942,0,12.545-5.601,12.545-12.544    C76.271,56.895,70.672,51.52,63.728,51.52z M60.144,69.664H57.68v-7.841h2.464V69.664z M59.024,60.705L59.024,60.705    c-0.896,0-1.567-0.673-1.567-1.346c0-0.672,0.672-1.344,1.567-1.344s1.567,0.672,1.567,1.344    C60.367,60.256,59.92,60.705,59.024,60.705z M70.224,69.664h-2.912v-4.031c0-1.119-0.447-1.792-1.345-1.792    c-0.672,0-1.119,0.448-1.344,0.896c0,0.227,0,0.449,0,0.673v4.257h-2.688c0,0,0-7.168,0-7.841h2.688v1.12    c0.225-0.447,1.121-1.344,2.465-1.344c1.791,0,3.136,1.119,3.136,3.584V69.664L70.224,69.664z" />
                            <path
                              d="M24.304,50.625l-3.808,3.809c-2.24-1.793-4.928-2.912-7.84-2.912c-6.944,0-12.544,5.602-12.544,12.543    c0,6.944,5.6,12.545,12.544,12.545c6.943,0,12.544-5.601,12.544-12.545c0-2.912-1.12-5.823-2.912-7.84l3.808-3.809    C25.424,51.743,24.752,51.07,24.304,50.625z M18.033,62.048c0,3.808-2.912,8.063-8.064,8.063c-1.567,0-3.136-0.448-4.256-1.346    c0.224,0,0.448,0,0.672,0c1.344,0,2.464-0.447,3.584-1.119c-1.12,0-2.24-0.896-2.688-2.017c0.224,0,0.447,0,0.447,0    c0.225,0,0.448,0,0.673,0c-1.345-0.226-2.24-1.344-2.24-2.688l0,0c0.448,0.225,0.896,0.447,1.344,0.447    c-0.672-0.447-1.344-1.344-1.344-2.24c0-0.446,0.224-0.896,0.448-1.344c1.344,1.793,3.359,2.912,5.823,2.912    c0-0.226,0-0.447,0-0.672c0-1.568,1.345-2.912,2.912-2.912c0.896,0,1.568,0.447,2.017,0.896c0.672-0.225,1.344-0.448,1.792-0.672    c-0.225,0.672-0.673,1.119-1.345,1.566c0.672,0,1.12-0.225,1.568-0.447c-0.448,0.672-0.896,1.119-1.344,1.344    C18.033,61.823,18.033,61.823,18.033,62.048z" />
                            <path
                              d="M12.656,25.088c2.912,0,5.823-1.12,7.84-2.912l3.808,3.808c0.448-0.672,1.12-1.119,1.568-1.567l-3.809-3.808    c1.792-2.24,2.912-4.928,2.912-7.84c0-6.944-5.6-12.544-12.544-12.544c-6.943,0-12.319,5.6-12.319,12.544    C0.112,19.487,5.712,25.088,12.656,25.088z M9.744,10.527h1.344V9.183c0-1.792,0.672-2.912,2.912-2.912h1.792v2.24h-1.12    c-0.896,0-0.896,0.224-0.896,0.896v1.12h2.016l-0.224,2.24H13.55v6.272h-2.688v-6.272H9.519v-2.24H9.744z" />
                            <g>
                              <path
                                d="M49.617,44.575c-0.226-0.446-0.673-0.673-0.896-0.673c-2.016-0.672-3.807-1.118-5.823-1.791     c-0.224,0-0.672-0.447-0.672-1.344c0-0.449,0-0.673-0.447-0.673c-0.226,0,0,0-0.226-0.224c-0.223-0.896-0.223-1.345-0.223-1.568     c0-0.223,0.223-0.225,0.223-0.448c0.673-0.896,0.896-2.239,0.896-2.688c0,0,0.225,0,0.225-0.225     c0.224-0.448,0.224-0.448,0.224-1.121c0.226-0.446,0.226-1.118-0.224-1.118c-0.225,0.224-0.225,0-0.225-0.448v-2.688     c0-0.896-0.673-1.567-1.119-1.791c-0.674-0.449-0.896-0.673-1.121-0.673c-0.225-0.224-0.225-0.448,0-0.672     c0.224-0.223,0.447-0.223,0.447-0.448c0,0,0,0-0.225,0s-1.567,0.226-2.239,0.448c-1.12,0.224-2.24,0.672-3.137,1.345     c-0.672,0.447-1.12,1.119-1.12,2.017c0,0.446,0,1.791,0,2.688c0,0.226,0,0.448-0.224,0.226c-0.672,0-0.224,0.896-0.224,1.118     c0,0.448,0.224,0.673,0.447,1.121c0,0.225,0.225,0.225,0.225,0.225c0.224,0.672,0.448,2.016,0.896,2.688     c0,0,0.225,0.225,0.225,0.448c0,0.448,0,1.12-0.225,1.568c0,0,0,0.225-0.224,0.225c-0.448,0-0.448,0.224-0.448,0.672     c0,0.672-0.448,1.345-0.672,1.345c-1.12,0.446-4.479,1.567-5.6,1.791c-0.672,0.226-0.896,0.448-1.12,0.672l-1.12,2.688     c4.479,0,6.72,2.688,11.424,3.584h2.24c4.704-0.672,8.063-3.584,11.2-3.584L49.617,44.575z" />
                            </g>
                          </g>
                        </g>
                      </svg>  {{ $t("message.sosmed") }}</p>
                    <a @click.prevent="add_social_media" class="text-primary mt-1 mb-1"><i
                        class="fa-solid fa-circle-plus"></i> {{ $t("message.add_sosmed") }}</a>
                  </div>
                  <div v-for="(socmed, indexSocmed) in social_medias" class="row" :key="indexSocmed">
                    <div v-if="social_medias.length !=1" class="col-md-12" >
                      <div class="mb-1" style="float: right;margin-right:10px">
                        <button @click.prevent="remove_social_media(indexSocmed)" type="button" class="btn btn-icon btn-danger waves-effect waves-float waves-light">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                      </button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label class="form-label" for="platform">Platform</label>
                        <select class="form-select slc" id="platform" v-model="socmed.platform">
                          <option selected>Choose Platform</option>
                          <option v-for="(dataPlatform, idx) in platform_data" :key="idx" :value="dataPlatform.nilai">
                            {{ dataPlatform.nilai }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-1">
                        <label for="account" class="form-label"> {{ $t("message.account") }}</label>
                        <input type="text" id="account" name="account" :placeholder="$t('message.account1')"  class="form-control"
                          v-model="socmed.account">
                      </div>
                    </div>              
                  </div>
                   <hr>
                  <div class="row">
                    <div class="col-12 mb-1">
                      <h3 style="text-align: center;"> {{ $t("message.upload_cv") }}</h3>
                      <center></center>
                      
                      <center>
                        <div
                    @dragenter.prevent="toggleActive()"
                    @dragleave.prevent="toggleDisable()"
                    @dragover.prevent="toggleActive()"
                    @drop.prevent="dropPreview"
                    :class="active"
                    class="dropzone mt-1">
                        <span>  {{ $t("message.drop_file") }}</span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>    </span>
                        <span>OR</span>
                        <label for="dropzoneFile"> {{ $t("message.select_file") }}</label>
                        <input type="file" id="dropzoneFile" v-on:change="updatecvPreview">
                    </div>
                    <span class="file-info">{{ $t("message.file_name") }}{{dropzoneFile}}</span>
                    </center>
                  </div>                
                    <div class="col-12">
                      <div class="mb-2 mt-1">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="is_agree" v-model="kandidat.is_agree">
                          <label class="form-check-label" for="is_agree">{{ $t("message.agree_otsuka") }} <a
                              href="">{{ $t("message.agreement") }} </a>{{ $t("message.and") }} <a href="">{{ $t("message.privacy") }} </a></label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-1">
                        <vue-recaptcha ref="recaptcha" @verify="mxVerify" sitekey="6LehPHwkAAAAAO1vfLI2XI9tn9WJ_Xeyu3JryMJv"></vue-recaptcha>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="button" @click="saveKandidat"
                        class="btn btn-primary me-1 waves-effect waves-float waves-light">{{ $t("message.submit") }} </button>
                      <button type="reset" class="btn btn-outline-secondary waves-effect">{{ $t("message.reset") }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <button @click.prevent="passwordType">Test</button> -->
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueSweetalert2 from 'vue-sweetalert2'
import {useVuelidate} from '@vuelidate/core'
import {required, email, minLength, helpers, maxLength, numeric, sameAs} from '@vuelidate/validators'
import VueSimpleAlert from 'vue-simple-alert'
import router from '../router/index'
import environtment from '../environtment/index'
import { VueRecaptcha } from 'vue-recaptcha'
Vue.use(VueSimpleAlert)
Vue.use(VueSweetalert2)
Vue.use(axios)
Vue.component('vue-recaptcha', VueRecaptcha)
export default {
  name: 'registerKandidat',
  setup () {
    return {
      v$: useVuelidate()
    }
  },
  data () {
    return {
      isFile: null,
      kandidat: {
        id: '',
        full_name: '',
        phone_number: '',
        email: '',
        password: '',
        confirmPassword: '',
        birth_date: '0000-00-00',
        no_ktp: '',
        gender: '',
        marital_status: 'Marital Status',
        religion: 'Religion',
        ethnic: 'Select Ethnic',
        education: 'Latest Education',
        institution: '',
        major: '',
        is_abroad: 0,
        score: '',
        is_fresh_graduate: false,
        business_line: 'Business Line (Industry)',
        job_level: 'Job Level',
        position: '',
        current_salary: '',
        expected_salary: '',
        job_function: 'Preferred Job Function',
        city: 'Preferred City',
        is_agree: false,
        pict: 'https://myapps.aio.co.id/assets/cross/images/user.png',
        gambar: undefined,
        cv: undefined,
        kota_kabupaten: '',
        provinsi: '',
        alamat: ''
      },
      experiences: [{
        experience_company: '',
        experience_position: '',
        experience_business_line: 'Business Line (Industry)',
        experience_start_date: '0000-00-00',
        experience_end_date: '0000-00-00',
        is_currently_working: false,
        experience_job_level: 'Job Level',
        experience_salary: '',
        experience_description: ''
      }],
      test: [{}],
      skills: [{
        skill: '',
        skill_rate: 'Skill Level'
      }],
      social_medias: [{
        platform: 'Choose Platform',
        account: ''
      }],
      countExperience: 1,
      valuesExperience: {},
      countSkill: 1,
      valuesSkill: {},
      countsocialMedias: 1,
      valuessocialMedias: {},
      religion_data: [{
        id: 1,
        nilai: 'Moslem'
      },
      {
        id: 2,
        nilai: 'Christian'
      },
      {
        id: 3,
        nilai: 'Catholic'
      },
      {
        id: 4,
        nilai: 'Buddhist'
      },
      {
        id: 5,
        nilai: 'Hindu'
      },
      {
        id: 6,
        nilai: 'Confucian'
      }
      ],
      marital_data: [{
        id: 1,
        nilai: 'Single'
      },
      {
        id: 3,
        nilai: 'Married'
      },
      {
        id: 4,
        nilai: 'Divorced'
      },
      {
        id: 5,
        nilai: 'Widow/(er)'
      }
      ],
      ethnic_data: [{
        id: 1,
        nilai: 'Sunda'
      },
      {
        id: 2,
        nilai: 'Jawa'
      },
      {
        id: 3,
        nilai: 'Batak'
      },
      {
        id: 4,
        nilai: 'Dayak'
      },
      {
        id: 5,
        nilai: 'Aborigin'
      }
      ],
      education_data: [{}],
      businessLine_data: [{
        id: 1,
        nilai: 'Accounting'
      },
      {
        id: 2,
        nilai: 'Science and Technology'
      },
      {
        id: 3,
        nilai: 'Retail Fashion'
      },
      {
        id: 4,
        nilai: 'Banking & Financial Service'
      },
      {
        id: 5,
        nilai: 'Art & Crafts'
      },
      {
        id: 6,
        nilai: 'Engineering'
      },
      {
        id: 7,
        nilai: 'Education & Training'
      }
      ],
      jobLevel_data: [{}],
      jobFunction_data: [{}],
      city_data: [{
        id: 1,
        nilai: 'Sukabumi'
      },
      {
        id: 2,
        nilai: 'Bandung'
      },
      {
        id: 3,
        nilai: 'Jakarta'
      },
      {
        id: 4,
        nilai: 'Surabaya'
      },
      {
        id: 5,
        nilai: 'Bogor'
      },
      {
        id: 6,
        nilai: 'Solo'
      },
      {
        id: 7,
        nilai: 'Manado'
      },
      {
        id: 7,
        nilai: 'Pontianak'
      },
      {
        id: 7,
        nilai: 'Medan'
      }
      ],
      skillLevel_data: [{
        id: 1,
        nilai: 'Novice'
      },
      {
        id: 2,
        nilai: 'Beginner'
      },
      {
        id: 3,
        nilai: 'Advanced'
      },
      {
        id: 4,
        nilai: 'Proficient'
      },
      {
        id: 5,
        nilai: 'Expert'
      }
      ],
      platform_data: [{
        id: 1,
        nilai: 'Instagram'
      },
      {
        id: 2,
        nilai: 'Facebook'
      },
      {
        id: 3,
        nilai: 'Twitter'
      },
      {
        id: 4,
        nilai: 'LinkedIn'
      }
      ],
      inputTypeIcon: 'password',
      inputTypeIcon2: 'password',
      showPassword: 'Show Password',
      hidePassword: 'Hide Password',
      showPassword2: 'Show Password',
      hidePassword2: 'Hide Password',
      check_email: ' ',
      emailIsUnique: null,
      check_ktp: ' ',
      ktpIsUnique: null,
      isCaptcha: false,
      dropzoneFile: undefined,
      fileCV: undefined,
      active: '',
      year_graduate: '',
      testPassword: null
    }
  },
  validations () {
    return {
      kandidat: {
        full_name: {
          required
        },
        phone_number: {
          required: helpers.withMessage('Phone Number value is required', required)
        },
        email: {
          required: helpers.withMessage('Email value is required', required),
          email
        },
        password: {
          required: helpers.withMessage('Password value is required', required),
          minLength: helpers.withMessage('Password must be at least 8 characters long', minLength(8))
        },
        no_ktp: {
          required: helpers.withMessage('No KTP value is required', required),
          numeric: helpers.withMessage('No KTP must type of number', numeric),
          maxLength: helpers.withMessage("No KTP can't be more than 16 characters", maxLength(16)),
          minLength: helpers.withMessage('No KTP must be 16 characters long', minLength(16))
        },
        confirmPassword: {
          sameAs: helpers.withMessage('Password is\'nt match', sameAs(this.kandidat.password))
        }
      }
    }
  },
  mounted () {
    this.loadJobFunction()
    this.loadJobLevel()
    this.loadTest()
    this.loadEducation()
  },
  methods: {
    saveKandidat () {
      const formData = new FormData()
      formData.append('full_name', this.kandidat.full_name)
      formData.append('phone_number', this.kandidat.phone_number)
      formData.append('email', this.kandidat.email)
      formData.append('password', this.kandidat.password)
      formData.append('birth_date', this.kandidat.birth_date)
      formData.append('gender', this.kandidat.gender)
      formData.append('marital_status', this.kandidat.marital_status)
      formData.append('religion', this.kandidat.religion)
      formData.append('ethnic', this.kandidat.ethnic)
      formData.append('education', this.kandidat.education)
      formData.append('institution', this.kandidat.institution)
      formData.append('major', this.kandidat.major)
      formData.append('is_abroad', this.ifChecked(this.kandidat.is_abroad))
      formData.append('score', this.kandidat.score)
      formData.append('is_fresh_graduate', this.ifChecked(this.kandidat.is_fresh_graduate))
      formData.append('business_line', this.kandidat.business_line)
      formData.append('job_level', this.kandidat.job_level)
      formData.append('position', this.kandidat.position)
      formData.append('current_salary', this.kandidat.current_salary)
      formData.append('kota_kabupaten', this.kandidat.kota_kabupaten)
      formData.append('provinsi', this.kandidat.provinsi)
      formData.append('alamat', this.kandidat.alamat)
      formData.append('expected_salary', this.kandidat.expected_salary)
      formData.append('job_function', this.kandidat.job_function)
      formData.append('city', this.kandidat.city)
      formData.append('no_ktp', this.kandidat.no_ktp)
      formData.append('experiences', JSON.stringify(this.experiences))
      formData.append('social_medias', JSON.stringify(this.social_medias))
      formData.append('skills', JSON.stringify(this.skills))
      formData.append('is_agree', this.ifChecked(this.kandidat.is_agree))
      formData.append('pict', this.kandidat.gambar)
      formData.append('cv_files', this.fileCV)
      formData.append('year_graduate', this.year_graduate)
      // eslint-disable-next-line eqeqeq
      if (this.v$.kandidat.full_name.$invalid) {
        this.$swal({
          icon: 'error',
          title: 'Registration Failed!',
          text: 'Please check your Full Name'
        })
      } else if (this.v$.kandidat.email.$invalid) {
        this.$swal({
          icon: 'error',
          title: 'Registration Failed!',
          text: 'Please check your Email'
        })
      } else if (this.emailIsUnique === false || this.emailIsUnique === null) {
        this.$swal({
          icon: 'error',
          title: 'Registration Failed!',
          text: 'Please check your email availability'
        })
      } else if (this.v$.kandidat.no_ktp.$invalid) {
        this.$swal({
          icon: 'error',
          title: 'Registration Failed!',
          text: 'Please check your No KTP'
        })
      } else if (this.ktpIsUnique === false || this.ktpIsUnique === null) {
        this.$swal({
          icon: 'error',
          title: 'Registration Failed!',
          text: 'Please check your No KTP availability'
        })
      } else if (this.v$.kandidat.password.$invalid) {
        this.$swal({
          icon: 'error',
          title: 'Registration Failed!',
          text: 'Please check your Password'
        })
      } else if (this.testPassword === false || this.testPassword === null) {
        this.$swal({
          icon: 'error',
          title: 'Registration Failed!',
          text: 'Password must include at least 1 symbol and number'
        })
      } else if (this.v$.kandidat.confirmPassword.$invalid) {
        this.$swal({
          icon: 'error',
          title: 'Registration Failed!',
          text: 'Password Is\'nt Match'
        })
      } else if (this.v$.kandidat.phone_number.$invalid) {
        this.$swal({
          icon: 'error',
          title: 'Registration Failed!',
          text: 'Please check your Phone Number'
        })
      } else if (this.kandidat.is_agree !== true) {
        this.$swal({
          icon: 'warning',
          title: 'Registration Failed!',
          text: 'Please check PT.Otsuka Amerta Indah User Agreement and Privacy Policy'
        })
      } else if (this.isCaptcha === false) {
        this.$swal({
          icon: 'error',
          title: 'Registration Failed!',
          text: 'Please complete the captcha'
        })
      } else {
        axios.post(environtment.apiUrl + '/api/candidate/candidate', formData)
          .then(response => {
            this.kandidat.id = response.id
            console.log(response)
            window.localStorage.setItem('kandidat', JSON.stringify(response.data.data[0]))
            this.$fire({
              title: 'Success!',
              text: 'Register Success',
              type: 'success'
            }).then(r => {
              router.push({
                path: '/verif/'
              }).then(this.$router.go())
            })
          })
          .catch(e => {
            console.log(e)
          })
      }
    },
    add_experience () {
      this.experiences.push({
        experience_company: '',
        experience_position: '',
        experience_business_line: 'Business Line (Industry)',
        experience_start_date: '0000-00-00',
        experience_end_date: '0000-00-00',
        is_currently_working: false,
        experience_job_level: 'Job Level',
        experience_salary: '',
        experience_description: ''
      })
    },
    remove_experience (index) {
      this.experiences.splice(index, 1)
    },
    add_skill () {
      this.skills.push({
        skill: '',
        skill_rate: 'Skill Level'
      })
    },
    remove_skill: function (index) {
      this.skills.splice(index, 1)
    },
    add_social_media () {
      this.social_medias.push({
        platform: 'Choose Platform',
        account: ''
      })
    },
    remove_social_media: function (index) {
      this.social_medias.splice(index, 1)
    },
    // selectImage () {
    //   this.$refs.fileInput.click()
    // },
    // pickFile () {
    //   let input = this.$refs.fileInput
    //   let file = input.files
    //   if (file && file[0]) {
    //     let reader = new FileReader()
    //     reader.onload = e => {
    //       this.kandidat.pict = e.target.result
    //     }
    //     reader.readAsDataURL(file[0])
    //     this.$emit('input', file[0])
    //   }
    // },
    // openUpload () {},
    updatePreview (e) {
      // eslint-disable-next-line one-var
      var reader, files = e.target.files
      console.log(e.target.files.item(0))
      this.kandidat.gambar = e.target.files.item(0)
      if (files.length === 0) {
        console.log('empty')
      }
      reader = new FileReader()

      reader.onload = (e) => {
        this.kandidat.pict = e.target.result
      }
      reader.readAsDataURL(files[0])
    },
    ToggleInputIcon () {
      this.inputTypeIcon = this.inputTypeIcon === 'password' ? 'text' : 'password'
    },
    ToggleInputIcon2 () {
      this.inputTypeIcon2 = this.inputTypeIcon2 === 'password' ? 'text' : 'password'
    },
    loadEducation () {
      axios
        .get(environtment.apiUrl + '/api/master/education')
        .then(response => (this.education_data = response.data.data))
    },
    loadJobFunction () {
      axios
        .get(environtment.apiUrl + '/api/master/job-function')
        .then(response => (this.jobFunction_data = response.data.data))
    },
    loadJobLevel () {
      axios
        .get(environtment.apiUrl + '/api/master/level/1')
        .then(response => (this.jobLevel_data = response.data.data))
    },
    loadTest () {
      axios
        .get(environtment.apiUrl + `/api/candidate/getemail/balmon@gmail.com`)
        .then(response => (this.test = response.data.data))
    },
    checkEmail () {
      axios
        .post(environtment.apiUrl + `/api/candidate/checkemail`, {
          email: this.kandidat.email
        })
        .then(async response => {
          console.log(response)
          if (response.data.data[0].email) {
            this.emailIsUnique = false
          } else {
            this.emailIsUnique = true
          }
        })
    },
    checkKTP () {
      axios
        .post(environtment.apiUrl + `/api/candidate/checkktp`, {
          no_ktp: this.kandidat.no_ktp
        })
        .then(response => {
          console.log(response)
          if (response.data.data[0].no_ktp) {
            this.ktpIsUnique = false
          } else if (!response.data.data[0].no_ktp) {
            this.ktpIsUnique = true
          }
        })
    },
    ifChecked (condition) {
      var kondisi = ''
      // eslint-disable-next-line eqeqeq
      if (condition == true) {
        kondisi = 1
      } else {
        kondisi = 0
      }
      return kondisi
    },
    homeReload () {
      this.$router.push({ path: '/' }).then(this.$router.go())
    },
    mxVerify (response) {
      console.log(response)
      if (response != null) {
        this.isCaptcha = true
      }
    },
    updatecvPreview (e) {
      this.active = ''
      // eslint-disable-next-line one-var
      var reader, files = e.target.files
      console.log(e.target.files.item(0))
      this.dropzoneFile = e.target.files.item(0).name
      this.fileCV = e.target.files.item(0)
      if (files.length === 0) {
        console.log('empty')
      }
      reader = new FileReader()

      // reader.onload = (e) => {
      //   this.fileCV = e.target.result
      // }
      reader.readAsDataURL(files[0])
      let checkFile = this.dropzoneFile.substring(this.dropzoneFile.length - 3)
      console.log(checkFile)
      if (checkFile === 'pdf' || checkFile === 'png' || checkFile === 'jpg') {
        this.isFile = true
      } else {
        this.isFile = false
      }
    },
    dropPreview (e) {
      this.active = ''
      // eslint-disable-next-line one-var
      var reader, files = e.dataTransfer.files
      console.log(e.dataTransfer.files.item(0))
      this.dropzoneFile = e.dataTransfer.files.item(0).name
      this.fileCV = e.dataTransfer.files.item(0)
      if (files.length === 0) {
        console.log('empty')
      }
      reader = new FileReader()

      // reader.onload = (e) => {
      //   this.fileCV = e.dataTransfer.result
      // }
      reader.readAsDataURL(files[0])
      let checkFile = this.dropzoneFile.substring(this.dropzoneFile.length - 3)
      console.log(checkFile)
      if (checkFile === 'pdf' || checkFile === 'png' || checkFile === 'jpg') {
        this.isFile = true
      } else {
        this.isFile = false
      }
    },
    toggleActive () {
      this.active = 'active-dropzone'
    },
    toggleDisable () {
      this.active = ''
    },
    passwordType () {
      var regularExpression = /^(?=.*[0-9])(?=.*[!@#$%^&*.()_?<>/|])[a-zA-Z0-9!@#$%^&*.()_?<>/|]{8,100}$/
      console.log(regularExpression)
      if (regularExpression.test(this.$data.kandidat.password)) {
        this.testPassword = true
      } else {
        this.testPassword = false
      }
    }
  }
}
</script>

<style>
  .preview-image {
    max-width: 200px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
  }

  .dropzone {
    max-width: 500px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #537FE7;
    background-color: white;
    transition: 0.3s ease all;
}

.dropzone label{
    padding: 5px 12px;
    color: white;
    background-color: #537FE7;
    transition: 0.3s ease all;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #537FE7;
}

.dropzone label:hover{
    background-color: white;
    color: #537FE7;
}

.dropzone input{
    display: none;
}

.active-dropzone{
    color: white;
    border-color: white;
    background-color: #537FE7;
}

.active-dropzone label{
    background-color: white;
    color: #537FE7;

}
</style>
