<template>
  <div>
    <center>
      <div class="auth-inner my-2">
        <div class="col-lg-6 col-md-12 col-12 align-items-center" style="float: center; align-items: center;">
          <div class="card mb-0">
            <div class="card-body">
              <p class="card-text mb-2">{{ $t("message.resetpassword") }}</p>
              <div class="row">
                <div class="col-12">
                  <div class="mb-1">
                    <label class="form-label" for="password-icon"
                      style="float: left;">{{ $t("message.password") }}</label>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-lock">
                          <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                          <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                        </svg></span>
                      <input :type="inputTypeIcon" id="password-icon" class="form-control" name="contact-icon"
                        :placeholder="$t('message.password')" v-model="v$.kandidat.password.$model"
                        @blur="v$.kandidat.password.$commit">
                      <button class="input-group-text" @click.prevent="ToggleInputIcon">
                        <span v-if="inputTypeIcon == 'password'">
                          <i class="fa-solid fa-eye"></i>
                        </span>
                        <span v-else>
                          <i class="fa-solid fa-eye-slash"></i>
                        </span>
                      </button>
                    </div>
                    <p class="text-danger" v-for="error of v$.kandidat.password.$errors" :key="error.$uid" style="float: left;font-size: 12px">
                      {{ error.$message }}
                    </p>
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-1">
                    <label class="form-label" for="password-confirm"
                      style="float: left;">{{ $t("message.password1") }}</label>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-lock">
                          <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                          <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                        </svg></span>
                      <input :type="inputTypeIcon2" id="password-confirm" class="form-control" name="contact-icon"
                        :placeholder="$t('message.password1')" v-model="v$.kandidat.confirmPassword.$model"
                        @blur="v$.kandidat.confirmPassword.$commit">
                      <button class="input-group-text" @click.prevent="ToggleInputIcon2">
                        <span v-if="inputTypeIcon2 == 'password'">
                          <i class="fa-solid fa-eye"></i>
                        </span>
                        <span v-else>
                          <i class="fa-solid fa-eye-slash"></i>
                        </span>
                      </button>
                    </div>
                    <p class="text-danger" v-for="error of v$.kandidat.confirmPassword.$errors" :key="error.$uid" style="float: left; font-size: 12px;">
                      {{ error.$message }}
                    </p><br>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary w-100 waves-effect waves-float waves-light" tabindex="2"
                @click.prevent="submitdata">Submit</button>

              <p class="text-center mt-2">
              <a @click="homeReload" type="button" class="btn btn-outline-primary waves-effect d-none d-md-inline">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-home me-25">
                  <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                  <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
                <span>Back to Login</span>
              </a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </center>
  </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
import router from '../router'
import VueSimpleAlert from 'vue-simple-alert'
import VueSweetalert2 from 'vue-sweetalert2'
import environtment from '../environtment'
import {
  useVuelidate
} from '@vuelidate/core'
import {
  required,
  minLength,
  helpers,
  sameAs
} from '@vuelidate/validators'

Vue.use(VueSimpleAlert)
Vue.use(VueSweetalert2)
Vue.use(axios)
export default {
  name: 'resetpassword',
  setup () {
    return {
      v$: useVuelidate()
    }
  },
  data () {
    return {
      kandidat: {
        password: '',
        confirmPassword: ''
      },
      inputTypeIcon: 'password',
      inputTypeIcon2: 'password',
      showPassword: 'Show Password',
      hidePassword: 'Hide Password',
      showPassword2: 'Show Password',
      login: [{}]
    }
  },
  validations () {
    return {
      kandidat: {
        password: {
          required: helpers.withMessage('Password value is required', required),
          minLength: helpers.withMessage('Password must be at least 8 characters long', minLength(8))
        },
        confirmPassword: {
          sameAs: helpers.withMessage('Password is\'nt match', sameAs(this.kandidat.password))
        }
      }
    }
  },
  mounted () {
    this.loadData()
  },
  methods: {
    loadData () {
      this.login = JSON.parse(window.sessionStorage.getItem('kandidatLogin'))
    },
    ToggleInputIcon () {
      this.inputTypeIcon = this.inputTypeIcon === 'password' ? 'text' : 'password'
    },
    ToggleInputIcon2 () {
      this.inputTypeIcon2 = this.inputTypeIcon2 === 'password' ? 'text' : 'password'
    },
    homeReload () {
      this.$router.push({ path: '/' }).then(this.$router.go())
    },
    submitdata () {
      axios.put(environtment.apiUrl + '/api/candidate/reset-password/' + this.$route.params.id, {
        password: this.kandidat.password
      })
      // console.log(req.password);
        .then(Response => {
          this.$fire({
            title: 'Success!!',
            text: 'password has been changed',
            type: 'success'
          }).then(r => {
            router.push({
              path: '/'
            }).then(router.go())
          })
        })
    }
  }
}
</script>
