<template>
    <div>

        <div class="content-wrapper">
            <div class="content-body">
                <div class="auth-wrapper auth-cover" style=" margin-top: -100px;">
                    <div class="auth-inner row m-0">
                        <!-- Brand logo--><a class="brand-logo" href="index.html"></a>
                        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img
                                    class="img-fluid"
                                    src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/bs5-old/app-assets/images/illustration/verify-email-illustration.svg"
                                    alt="two steps verification"></div>
                        </div>
                        <!-- /Left Text-->
                        <!-- verify email v2-->
                        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5"
                            style="padding-bottom: 50px; margin-bottom: 50px;">
                            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                                <h2 class="card-title fw-bolder mb-1">{{ $t("message.verifemail") }} ✉️</h2>
                                <p class="card-text mb-2">{{ $t("message.verifemail4") }}<span
                                        class="fw-bolder">
                                        {{ email.email }}</span>{{ $t("message.verifemail5") }} </p>
                            </div>
                        </div>
                        <!-- verify email-->
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
import Vue from 'vue'
import axios from 'axios'

Vue.use(axios)
export default {
  name: 'verif',
  data () {
    return {
      id: '',
      email: JSON.parse(window.localStorage.getItem('kandidat'))
    }
  },
  // validation(){

  // },
  mounted () {
    this.loadId()
    this.loadData()
  },

  methods: {

  }
}
</script>
