<template>
  <div>

      <div class="content-wrapper" >
        <div class="content-body" >
          <div class="auth-wrapper auth-cover" style=" margin-top: -100px;">
            <div class="auth-inner row m-0"  >
              <!-- Brand logo--><a class="brand-logo" href="index.html"></a>
              <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img class="img-fluid"
                    src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/bs5-old/app-assets/images/illustration/verify-email-illustration.svg"
                    alt="two steps verification"></div>
              </div>
              <!-- /Left Text-->
              <!-- verify email v2-->
              <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5" >
                <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                  <h2 class="card-title fw-bolder mb-1">{{ $t("message.verifemail") }} ✉️</h2>
                  <p class="card-text mb-2"><span class="fw-bolder">
                      {{ email.email }}</span>{{ $t("message.verifemail1") }} </p>
                  <a class="btn btn-primary w-100 waves-effect waves-float waves-light" @click="updateEmail">{{ $t("message.verifemail") }}</a>
                  <p class="text-center mt-2"><span>{{ $t("message.verifemail2") }} </span><a
                      href="Javascript:void(0)"><span>&nbsp;{{ $t("message.verifemail3") }} </span></a></p>
                </div>
              </div>
              <!-- verify email-->
            </div>
          </div>
        </div>
        </div>

  </div>

</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import environtment from '../environtment/index'
import VueSimpleAlert from 'vue-simple-alert'
import router from '../router/index'

Vue.use(VueSimpleAlert)
Vue.use(axios)
export default {
  name: 'VerifEmail',
  data () {
    return {
      id: '',
      // login: [{}],
      email: [{}]
    }
  },
  // validation(){

  // },
  mounted () {
    this.loadId()
    this.loadData()
  },

  methods: {
    updateEmail () {
      axios.put(environtment.apiUrl + '/api/candidate/verifemail/' + this.$route.params.id)
        .then(Response => {
          this.$fire({
            title: 'Account has been verified',
            text: 'Please login to continue',
            type: 'success'
          }).then(r => {
            router.push({ path: '/login' }).then(router.go())
          })
        })
    },
    loadId () {
      this.email = JSON.parse(window.sessionStorage.getItem('kandidat'))
    }
    // loadData() {
    //   this.login = JSON.parse(window.sessionStorage.getItem('kandidatLogin'))
    // },
  }
}

</script>
