<!-- eslint-disable no-multiple-empty-lines -->
<!-- eslint-disable no-trailing-spaces -->
<template>
  <div id="app">
    <div>
      <nav v-show="isLogin"
        class="header-navbar navbar navbar-expand-lg align-items-center navbar-light fixed-top navbar-shadow">
        <div class="container-fluid">
          <a style="margin-right: 120px; margin-left:10px" class="navbar-brand" href="#"><img
              style="max-height:50px; width: auto;" src="https://otsuka.karirpad.com/assets/images/aio_logo_w500.png"
              title="Otsuka - PT Amerta Indah Otsuka" alt="Otsuka - PT Amerta Indah Otsuka" class="img-header-otsuka"></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor03" style="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" @click="homeReload" style="margin-right: 30px;">{{
                $t("message.home") }}</a>
              </li>
              <li class="nav-item"><a class="nav-link" @click="programReload" style="margin-right: 30px;">{{
                $t("message.program") }}</a>
              </li>
              <li class="nav-item"><router-link to="#event" class="nav-link" style="margin-right: 30px;">{{
                $t("message.event") }}</router-link>
              </li>
              <li class="nav-item"><a class="nav-link" @click="aboutUsReload">{{ $t("message.about_us") }}</a>
              </li>
            </ul>
          <ul class="navbar-nav ms-auto">
            <!-- <li>
                <button v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">
                  <flag :iso="entry.flag" v-bind:squared=false /> {{ entry.title }}
                </button>
              </li> -->
            <!-- <li class="nav-item " style="margin-right: 15px; margin-top: 20px;">
            <select  v-model="language" @change="changelanguage()">
              <option value="en">EN</option>
              <option value="id">ID</option>
              </select>
          </li> -->
            <!-- <li class="nav-item " style="margin-right: 15px; ">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn1 " @click.prevent="changeEN"
                    @click="changelanguage"   style="padding: 7px; border-radius: 8px 0 0 8px;   font-size: 10px;"> <i class="flag-icon flag-icon-us"></i></button>
                  <button type="button" class="btn2 " @click.prevent="changeID"
                    @click="changelanguage"  style="padding: 7px; border-radius: 0 8px 8px 0;   font-size: 10px;"> ID</button>
                  </div>
                </li> -->
              <li v-if="$i18n.locale == 'English'" class="nav-item " style="margin-right: 15px; margin-top: 13px;">
                <div class="btn-group">
                  <button style="border: none; padding: 5px; border-radius: 2px;  border-radius: 3px 0 0 3px;
                        border: 1px solid #1070D1; color: white; font-size: 12px;" class="btn1 activeEn"
                    @click.prevent="changeEN" @click="changelanguage"> EN</button>
                  <button style="border: none;  padding: 5px; border-radius: 2px;  border-radius:0 3px 3px 0;
                        border: 1px solid #1070D1; font-size: 12px;" class="btn2" @click.prevent="changeID"
                    @click="changelanguage">
                    ID</button>
                </div>
              </li>
              <li v-if="$i18n.locale == 'Indonesia'" class="nav-item " style="margin-right: 15px; margin-top: 13px;">
                <div class="btn-group">

                  <button style="border: none; padding: 5px; border-radius: 2px;  border-radius: 3px 0 0 3px;
                          border: 1px solid #1070D1;  font-size: 12px;" class="btn1" @click.prevent="changeEN"
                    @click="changelanguage"> EN</button>
                  <button style="border: none; padding: 5px; border-radius: 2px;  border-radius: 0px 3px 3px 0;
                           border: 1px solid #1070D1; color: white; font-size: 12px;" class="btn2 activeEn"
                    @click.prevent="changeID" @click="changelanguage">
                    ID</button>
                </div>
            </li>
            <!-- <li style="margin: auto; margin-right:10px;">
                  <select style="margin: auto; padding-top: 3px;" v-model="$i18n.locale" class="form-select"
                    aria-label="Default select example">
                    <option v-for="(lang, i) in langs" :key="`lang-${i}`" :value="lang"> {{ lang }}</option>
                    </select>
                </li> -->
              <li class="nav-item dropdown dropdown-user">
                <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="user-name fw-bolder">{{ login.full_name }}</span>
                  <span class="avatar">
                    <img class="round" :src="imageLoader()" alt="avatar" height="40" width="40">
                    <span class="avatar-status-online"></span>
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                  <a class="dropdown-item" @click="profilReload">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-user me-50">
                      <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                      <circle cx="12" cy="7" r="4"></circle>
                    </svg> Profile</a>
                  <a class="dropdown-item" @click="logout"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" class="feather feather-power me-50">
                      <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
                      <line x1="12" y1="2" x2="12" y2="12"></line>
                    </svg> Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <nav v-show="isNotLogin"
        class="header-navbar navbar navbar-expand-lg align-items-center navbar-light fixed-top navbar-shadow">
        <div class="container-fluid">
          <a style="margin-right: 120px;" class="navbar-brand" href="#"><img style="max-height:50px; width: auto;"
              src="https://otsuka.karirpad.com/assets/images/aio_logo_w500.png" title="Otsuka - PT Amerta Indah Otsuka"
              alt="Otsuka - PT Amerta Indah Otsuka" class="img-header-otsuka"></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor03" style="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" @click="homeReload" style="margin-right: 30px;">{{
                $t("message.home") }}</a>
              </li>
              <li class="nav-item"><a class="nav-link" @click="programReload" style="margin-right: 30px;">{{
                $t("message.program") }}</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#event" style="margin-right: 30px;">{{ $t("message.event")
              }}</a>
              </li>
              <li class="nav-item"><a class="nav-link" @click="aboutUsReload">{{ $t("message.about_us") }}</a>
              </li>
            </ul>
          <ul class="navbar-nav ms-auto">
            <!-- <li>
                <button v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">
                  <flag :iso="entry.flag" v-bind:squared=false /> {{ entry.title }}
                </button>
              </li> -->
            <!-- <li class="nav-item " style="margin-right: 15px; margin-top: 20px;">
            <select  v-model="language" @change="changelanguage()">
              <option value="en">EN</option>
              <option value="id">ID</option>
              </select>
            </li> -->
              <li v-if="$i18n.locale == 'English'" class="nav-item " style="margin-right: 15px; margin-top: 3px;">
                <div class="btn-group">
                  <button style="border: none; padding: 5px; border-radius: 2px;  border-radius: 3px 0 0 3px;
                      border: 1px solid #1070D1; color: white; font-size: 12px;" class="btn1 activeEn"
                    @click.prevent="changeEN" @click="changelanguage"> EN</button>
                  <button style="border: none;  padding: 5px; border-radius: 2px;  border-radius:0 3px 3px 0;
                      border: 1px solid #1070D1; font-size: 12px;" class="btn2" @click.prevent="changeID"
                    @click="changelanguage">
                    ID</button>
                </div>
              </li>
              <li v-if="$i18n.locale == 'Indonesia'" class="nav-item " style="margin-right: 15px; margin-top: 3px;">
                <div class="btn-group">

                  <button style="border: none; padding: 5px; border-radius: 2px;  border-radius: 3px 0 0 3px;
                        border: 1px solid #1070D1;  font-size: 12px;" class="btn1" @click.prevent="changeEN"
                    @click="changelanguage"> EN</button>
                  <button style="border: none; padding: 5px; border-radius: 2px;  border-radius: 0px 3px 3px 0;
                         border: 1px solid #1070D1; color: white; font-size: 12px;" class="btn2 activeEn"
                    @click.prevent="changeID" @click="changelanguage">
                    ID</button>
                </div>
              </li>
              <li class="nav-item">
                <button @click="loginReload" type="button" class="btn btn-outline-primary waves-effect d-md-inline"
                  style="padding: 8px 50px; border-radius:8px">
                  <span>{{ $t("message.login") }}</span>
                </button>
              </li>
              <li class="nav-item">
                <button @click="registerReload" class="btn btn-primary waves-effect waves-float waves-light d-md-inline"
                  style="margin-left: 6px; padding: 8px 40px; border-radius:8px">
                  <span>{{ $t("message.register") }}</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- END: Header-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-wrapper container-xxl p-0">
        <router-view></router-view>
      </div>
    </div>
    <!-- END: Content-->
  </div>
</template>

<script>
// import router from './router/index'
import environtment from './environtment/index'
// import locales from './locales/index'

export default {
  name: 'App',
  data () {
    return {
      locales: '',
      language: null,
      login: [{}],
      isLogin: false,
      isNotLogin: true,
      langs: ['English', 'Indonesia'],
      activeEn: true,
      activeId: null
    }
  },
  mounted () {
    this.loadData()
    this.created()
  },
  methods: {
    logout () {
      window.sessionStorage.removeItem('kandidatLogin')
      window.sessionStorage.removeItem('file_kk')
      window.sessionStorage.removeItem('file_ktp')
      window.sessionStorage.removeItem('file_npwp')
      window.sessionStorage.removeItem('file_bpjs_kerja')
      window.sessionStorage.removeItem('file_bpjs_sehat')
      window.sessionStorage.removeItem('file_cv')
      window.sessionStorage.removeItem('file_rekening')
      this.$router.push({ path: '/' }).then(this.$router.go())
    },
    loadData () {
      this.login = JSON.parse(window.sessionStorage.getItem('kandidatLogin'))
      if (this.login == null) {
        this.isLogin = false
        this.isNotLogin = true
      } else {
        this.isLogin = true
        this.isNotLogin = false
      }
    },
    mounted () {
      this.loadData()
      this.created()
      this.activeEn = true
    },
    homeReload () {
      this.$router.push({ path: '/' }).then(this.$router.go())
    },
    aboutUsReload () {
      this.$router.push({ path: '/aboutus' }).then(this.$router.go())
    },
    programReload () {
      this.$router.push({ path: '/program' }).then(this.$router.go())
    },
    loginReload () {
      this.$router.push({ path: '/login' }).then(this.$router.go())
    },
    registerReload () {
      this.$router.push({ path: '/register' }).then(this.$router.go())
    },
    profilReload () {
      this.$router.push({ path: '/profilpage' }).then(this.$router.go())
    },
    imageLoader () {
      var img = environtment.imgUrl + this.login.pict
      return img
    },
    changeID () {
      if (window.localStorage.getItem('lang') == 'Indonesia') {
      }
      this.language = 'Indonesia'
      this.activeId = true
      this.activeEn = false
    },
    changeEN () {
      this.language = 'English'
      this.activeEn = true
      this.activeId = false
    },
    changelanguage () {
      // this[this.language][prop]
      localStorage.setItem('lang', this.language)
      // localStorage.setItem('lang', this.activelang)
      window.location.reload()
    },
    created () {
      if (localStorage.getItem('lang') == null) {
        localStorage.setItem('lang', 'English')
      } else if (localStorage.getItem('lang') == 'Indonesia') {
        this.activeId = true
        this.activeEn = false
      } else if (localStorage.getItem('lang') == 'English') {
        this.activeId = false
        this.activeEn = true
      }
      this.language = localStorage.getItem('lang')
    }
  }
}
</script>

<style>.activeEn {
  background-color: rgb(81, 128, 236);
}</style>
